<!--{extends file="base_layout.html"}-->
<!--{block name="title" prepend}-->网页资料-<!--{/block}-->
<!--{block name="header_css"}-->
<link href="<!--{$smarty.const.MISC_ROOT}-->web_css/wiki/wiki_view.css?v=<!--{$smarty.const.CSS_VER}-->" type="text/css" rel="stylesheet" />
<!--{/block}-->

<!--{block name="body"}-->


<div class="body clearfix">
	<div class="mainArea">
		<!--{include file="wiki_common_nav.html"}--><!--wiki公共面包屑-->
		<div class="modlueBody">
			<div class="wikiUnmatch">
				<h1 class="fs32"><!--{$web_info['name']}--></h1>
				<div class="wikiContent">
					
                    <!--{if $action=="create"}-->
						未匹配到词条，请进入端口百科 <a href="<!--{$create_url}-->">创建词条</a>
                    <!--{elseif $action=="display_none"}-->
					
                    	该网页尚未添加任何资料
                    <!--{/if}-->
				</div>
			</div>
		</div>
	</div>
</div>

<!--{/block}-->