<!--{extends file="base_layout.html"}-->
<!--{block name="title" prepend}-->网页资料-<!--{/block}-->
<!--{block name="header_css"}-->
<link href="<!--{$smarty.const.MISC_ROOT}-->web_css/wiki/wiki_view.css?v=<!--{$smarty.const.CSS_VER}-->" type="text/css" rel="stylesheet" />
<!--{/block}-->

<!--{block name="body"}-->
<div class="body clearfix">
	<div class="mainArea">
		<!--{include file="wiki_common_nav.html"}--><!--wiki公共面包屑-->
		<div class="modlueBody">
			<!-- 百科头部 -->
			<div class="wikiHeader mb40">
				<div class="wikiInfo mb20">
					<div class="wikiLeft fl">
						<h1 class="fs32 mb5" title="<!--{$web_info['name']}-->"><!--{$web_info['name']|msubstr:0:20}--></h1>
                        <!--{if $web_info['is_info']  OR $item_content['is_system']}-->
						<p>于<!--{$item_content['create_time']}-->由<a href="<!--{$item_content['action_url']}-->"><!--{$item_content['create_name']}--></a>创建</p>
                        <p>
                        <!--{/if}-->
                        <!--{if $is_self and $item_content['version'] < $item_content['new_version']}-->
							<a href="<!--{$history_url}-->"><span class="cr">温馨提示：</span>该词条已更新 点击查看新版本</a>
                         <!--{/if}-->
                        </p>
					</div>
					<div class="wikiRight fr">
						<p class="tar mb5">
							<span class="fs16 fwb">引自<a href="<!--{$wiki_index}-->" class="ml5 c6">端口百科</a></span>
						</p>
						<p class="tar mb5">发布时间：<!--{$item_content['edit_datetime']}--></p>
						<p class="tar">
                        <!--{if $is_self}-->
                    		 <span class="btnGray"><a href="<!--{$rematch_url}-->">重新匹配</a></span>
                   		<!--{/if}-->
                       	
                        
                       	 <span class="ml5 btnGray"><a href="<!--{$edit_url}-->">编辑词条</a></span>
                        </p>
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- 单义项 -->
				<h1 class="wikiSense br3"><!--{$item_content['web_name']|msubstr:0:15}--> （<span title="<!--{$item_content['item_desc']}-->"><!--{$item_content['item_desc']|msubstr:0:15}--></span>）</h1>
			</div>

			<!-- 百科主体 -->
			<div class="wikiBody">
				<!-- 百科摘要 -->
				<div class="wikiAbs bd br3 pd20 mb15 clearfix">
					<h2 class="absTitle mb10">摘要</h2>
                    <div class="wikiImgBgWrap fl">
						<div class="wikiImgBg">
							<img class="absImg" src="<!--{if $item_content['img_file']}--><!--{$item_content['img_file']}--><!--{else}--><!--{$smarty.const.MISC_ROOT}-->img/system/wiki_default.gif<!--{/if}-->">
						</div>
						<p class="tac fs12"><!--{$item_content['imgDesc']}--></p>
					</div>
					<div class="absContent fl ml15"><!--{$item_content['description']}--></div>
					<div class="clearfix"></div>
                    <p align="right"><a href="<!--{$look_more_wiki_url}-->#wiki_detail_body">查看更多</a></p>
				</div>


				<!-- 百科内容 -->
                <!--{if $plugin_content}-->
				<div class="wikiViewContent bd br3 pd20">
                
                    <!--插件公共部分-->
                    <input type="hidden" name="web_id" id="web_id" value="<!--{$web_id}-->"/>
                    <input type="hidden" name="all_plugin_config_id" id="all_plugin_config_id" value="<!--{$all_plugin_config_id}-->"/>
                    <!--插件公共部分-->
                    
					<!--{if $is_self}--><h2>&nbsp;<i title="编辑信息" class="fr wikiEditIcon"></i></h2><!--{/if}-->
					<div id="wikiText" class="wikiText clearfix">
                    <div id="show_plugin_info">
                    <!--{$plugin_content}-->
                    </div>
                    
                    <!--{if $is_self}-->
                    <div id="edit_diy_div">
                    <!--{$edit_plugin_content}-->
                    <div style="margin-top:20px"><span id="edit_diy_button" class="btnGray"><a href="javascript:;">&nbsp;提&nbsp;&nbsp;交&nbsp;</a></span>&nbsp;<span id="cancle_diy_button" class="btnGray"><a href="javascript:;">&nbsp;返&nbsp;&nbsp;回&nbsp;</a></span><span id="diy_error" style="color:red;"></span></div>
                    </div>
                    <!--{/if}-->
                    </div>
				</div>
                <!--{/if}-->
			</div>

			
		</div>
	</div>
</div>
<!-- 百科右侧目录 -->
			<div class="wikiSide wikiDirControl">
				<div class="wikiBtnWrap fl">
				<a href="#" class="wikiTop">回到顶部</a><a href="javascript:void(0);" class="wikiDirBtn">词条目录</a>
				</div>
				<div class="wikiDirWrap vb fl">
					<a href="javascript:;" class="wikiPrev"></a>
					<div class="wikiDirBox">
						<h2 class="mb10"><!--{$web_info['name']}--></h2>
						<div class="wikiDirPanel">
							<div class="wikiDirList wikiDirItem fc">
							
							</div>
						</div>
					</div>
					<a href="javascript:;" class="wikiNext"></a>
				</div>
				<div class="clearfix"></div>
			</div>

<!--{/block}-->

<!--{block name="footer_js"}-->
<script src="<!--{$smarty.const.MISC_ROOT}-->web_js/wiki/wiki.js?v=<!--{$smarty.const.JS_VER}-->" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->web_js/wiki/wiki_view.js?v=<!--{$smarty.const.JS_VER}-->" type="text/javascript"></script>
<!--{if $is_self}-->
<script language="javascript" type="text/javascript" >
     $("#edit_diy_div").css("display", "none");
	 var plugin_info = {};
	 $(".wikiEditIcon").bind("click",function(){
		$("#show_plugin_info").css("display", "none");
		$("#edit_diy_div").css("display", "");
		$(this).css("display", "none");
	 });
	 $("#cancle_diy_button").bind("click", function(){
		$("#show_plugin_info").css("display", "");
		$("#edit_diy_div").css("display", "none");
		$(".wikiEditIcon").css("display", "");
	 });
	 $("#edit_diy_button").bind("click",function(){
		var all_plugin_config_id =  $("#all_plugin_config_id").val();
		if(!all_plugin_config_id) {alert('出现错误');return false;}
		
		all_plugin_config_ids = all_plugin_config_id.split(",");
		
		var flag = 1;
		//调用每个插件的验证函数
		for(index in all_plugin_config_ids){
		   if(!eval("validate_" + all_plugin_config_ids[index])()){
			 flag = 0;
			 break;
		   }
		}
		
		if(flag){
		  $("#diy_error").text(""); //清除错误提示
		  //收集数据
		  for(index in all_plugin_config_ids){
			  eval("ajax_submit_data_" + all_plugin_config_ids[index])();
		  }
		  $(this).attr("disabled", "disabled");
		  $.ajax({
			  url: "<!--{$update_plugin_url}-->",
			  type: "POST",
			  dataType: "JSON",
			  data: plugin_info,
			  cache: false,
			  success:function(msg){
				 if(msg.status == 1){
					alert(msg.info);
					location.reload();
					return true;
				 }else{
					alert(msg.info);
					location.reload();
					return false;   
				 }
			  }
		  });
		}
	 });
</script>
<!--{/if}-->
<!--{$all_plugin_normal_js|default:""}-->
<!--{$all_plugin_edit_js|default:""}-->
<!--{/block}-->
