<!--{extends file="base_layout.html"}-->
<!--{block name='title' prepend}-->
我的网盘 -
<!--{/block}-->
<!--{block name=header_css}-->
<!--网盘 文件-->
<link href="<!--{$smarty.const.MISC_ROOT}-->css/netdisk/netdisk.css?v=<!--{$smarty.const.CSS_VER}-->" rel="stylesheet" type="text/css" />
<!--{/block}-->

<!--{block name=body}-->
<div class="body clearfix" id="netdisk">

	<div class="mainArea">
		<!--{include file="netdisk_header.html"}-->
		<div class="modlueBody">
			<div class="columnsWrap clearfix">
 				<div id="contentArea">
					<!--{include file="netdisk_nav.html"}-->
					<div class="contentCol">
						<div class="panl"><div class="checkAll"><label id="select"><input type="checkbox" /><span>全选</span></label></div><div class="buttonBox"><span class="uiButton" id="showInDate">显示在时间线上</span><span class="uiButton">取消显示</span></div></div>
						<div class="textlist">
							<ul id="diskText">
								<li>
									<h3><input type='checkbox' />中国的钱美国可以用</h3>
									<p>中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用</p>
								</li>
								<li>
									<h3><input type='checkbox' />中国的钱美国可以用</h3>
									<p>中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用</p>
								</li>
								<li>
									<h3><input type='checkbox' />中国的钱美国可以用</h3>
									<p>中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用</p>
								</li>
								<li>
									<h3><input type='checkbox' />中国的钱美国可以用</h3>
									<p>中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用中国的钱美国可以用</p>
								</li>
							</ul>
							<form action="<!--{mk_url('netdisk/index/do_post')}-->" method="post" id="dataForm">
								<input type="hidden" name="data" id="data" />
							</form>
						</div>
						<!--more-->
						<div class="loadmore" type="1">
							<a id="moreBlog"  pager="2">点击查看更多</a>
							<span class="hide"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--{/block}-->

<!--{block name=footer_js}-->
<script src="<!--{$smarty.const.MISC_ROOT}-->js/netdisk/diskText.js?v=<!--{$smarty.const.JS_VER}-->" type="text/javascript"></script>
<!--{/block}-->
