<div id="footer" class="clearfix">
	<span class="copyRight">Duankou &copy; 2011 · <a href="#">中文(简体)</a></span>
	<span class="footerLinks"><a href="#">关于</a>·<a href="#">开放平台</a>·<a href="#">手机</a>·<a href="#">广告</a>·<a href="#">招聘</a>·<a href="#">隐私政策</a>·<a href="http://dev.duankou.com/single/help/">帮助中心</a></span>
</div>
<script src="{$smarty.const.MISC_ROOT}js/jquery.min.js" type="text/javascript"></script>
<script src="{$smarty.const.MISC_ROOT}js/init.js" type="text/javascript"></script>
<script src="{$smarty.const.MISC_ROOT}js/plug/autocomplete/autocomplete.js" type="text/javascript"></script>
<script src="{$smarty.const.MISC_ROOT}js/plug/layer/layer.min.js" type="text/javascript"></script>
<script src="{$smarty.const.MISC_ROOT}js/common/utils.js" type="text/javascript"></script>
<script src="{$smarty.const.MISC_ROOT}js/plug/popUp/popUp.js" type="text/javascript"></script>
<script src="{$smarty.const.MISC_ROOT}js/message/messages.js" type="text/javascript"></script>
<script src="{$smarty.const.MISC_ROOT}js/plug/dk-ui/dk.uploader.js" type="text/javascript" ></script>
<script src="{$smarty.const.MISC_ROOT}js/plug/jQuery-searcher/ViolenceSearch.js" type="text/javascript"></script>
<script src="{$smarty.const.MISC_ROOT}js/plug/jQuery-searcher/jQuery.searcher.js" type="text/javascript"></script>
<script src="{$smarty.const.MISC_ROOT}js/message/request_notice.js"  type="text/javascript"></script>
