<!--------------时间线首页内容区头部------------------->
<div class="mainAreaTop">
	<!-----------如没有设封面出现的空白层------------->
	<div class="coverEmptyWrap"></div>
	<!-----------/如没有设封面出现的空白层------------->
	<!-----------内容区头部导航------------->
	<div class="timelineNavgation">
		<!-----------个人小头像------------->
		<div class="personalSmallImgBorder">
			<div class="personalSmallImg">
				<img src="<!--{$smarty.const.MISC_ROOT}-->img/system/avatar.gif" />
			</div>
		</div>
		<!-----------/个人小头像------------->
		<!-----------个人名字和更新信息------------->
		<div class="nameAndSendMsg">
			<!-----------个人名字------------->
			<div class="personalName"><a href="javascript:void(0);">唐小剑</a></div>
			<!-----------/个人名字------------->
			<!-----------更新信息和活动记录------------->
			<div class="actions">
				<div class="actionDropdown">
					<span class="uiButtonGroup">
						<span class="uiButtonGroupItem firstTtem"><a href="#"><span class="uiButtonText">更新作息</span></a></span>
						<span class="uiButtonGroupItem"><a href="#" ><span class="uiButtonText">活动记录</span></a></span>
						<span class="uiButtonGroupItem">
							<span class="uiButtonText"><img src="<!--{$smarty.const.MISC_ROOT}-->img/system/friendSelectIcon.png"/></span>
						</span>
					</span>	
				</div>
			</div>
			<!-----------/更新信息和活动记录------------->
		</div>
		<!-----------/个人名字和更新信息------------->
		<div class="blankDiv">&nbsp;</div>
		<!-----------时间线按钮------------->
		<div class="timelineMenu">
			<div class="menuLeft">
				<ul class="menuLeftUl" id="menuLeftUl">
					<li class="textLinkLi" id="textLinkLi">
						<div class="textLinkLiBorder detail frame">
							<div class="timelineSummarySection">
								<span class="profileFragment"><i></i><span>在<a href="#">端口网</a>任QA</span></span>
								<span class="profileFragment"><i></i><span>曾就读<a href="#">浙江大学</a></span></span>
								<span class="profileFragment"><i></i><span>住在<a href="#">浙江杭州</a></span></span>
								<span class="profileFragment"><i></i><span>正在恋爱中</span></span>

							</div>
						</div>
						<a class="textLinkLiText">
							自我介绍
						</a>
					</li>
					<li class="imgLinkLi">
						<span class="imgLinkLiImg">
							<img src="<!--{$smarty.const.MISC_ROOT}-->img/system/listdoenup.gif" />
						</span>
						<span class="imgLinkLiText">
							
						</span>
					</li>
					<li class="imgLinkLi">
						<span class="imgLinkLiImg">
							<img src="<!--{$smarty.const.MISC_ROOT}-->img/system/listdoenup.gif" />
						</span>
						<span class="imgLinkLiText">
							fdsfsdf
						</span>
					</li>
					<li class="imgLinkLi">
						<span class="imgLinkLiImg">
							<img src="<!--{$smarty.const.MISC_ROOT}-->img/system/listdoenup.gif" />
						</span>
						<span class="imgLinkLiText">
							fdsfsdf
						</span>
					</li>
					
				</ul>
			</div>
			<div class="menuRight">				
				<div class="hideImgLinkBtn">
					<a href="javascript:void(0);" >
						<span class="linkClickSpan">
							<span class="text">2</span>
							<span class="img" id="linkNumIcon"><img src="<!--{$smarty.const.MISC_ROOT}-->img/system/listdoenup.gif" /></span>
						</span>
					</a>
				</div>		
			</div>
		</div>
		<!-----------/时间线按钮------------->
	</div>
	<!-----------/内容区头部导航------------->
</div>
<!-------------/时间线首页内容区头部-------------------->
<p class="clearfix"/>
