<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>端口网用户使用协议</title>
<link type="text/css" rel="stylesheet" href="<!--{$smarty.const.MISC_ROOT}-->css/service/agreement.css">
</head>

<body>
<div class="toper">
	<div class="t_contain">
    	<p class="top_logo"><img src="<!--{$smarty.const.MISC_ROOT}-->img/logo.png" width="102" height="19" alt="端口网"/></p>
    	
    	<!--{if isset($userinfo['uid'])&&$userinfo['uid']}-->
    			 <p class="top_link"><a href="/"><!--{$userinfo['username']}--></a>你好！欢迎回来！
    	<!--{else}-->
    	        <p class="top_link"><a href="/">登录</a> <a href="/">注册</a></p>
    	<!--{/if}-->
        <br class="clear"/>
  </div>
</div>
<div class="agreement_main">
  <div class="left_nav">
    <ul>
      <li><a href="agreement_main">&gt;&nbsp;&nbsp;用户使用协议</a></li>
      <li><a href="terms">&gt;&nbsp;&nbsp;专页条款</a></li>
      <li><a href="principle">&gt;&nbsp;&nbsp;平台使用原则</a></li>
      <li><a href="privacy_statement">&gt;&nbsp;&nbsp;隐私声明</a></li>
	  <li><a href="agreement_ad">&gt;&nbsp;&nbsp;广告服务协议</a></li>
    </ul>
  </div>
  <div class="right_contain">
    <h1>端口网自助广告服务协议</h1>
    
    <p>在您点击确认前，请务必仔细阅读本协议。一旦点击确认，即被视为同意本协议并愿意受本协议的约束。</p>
    

<h3>定义及解释 </h3>
<p style="padding:0px">
在本协议中，除非另有明确规定，否则下列词语应具有如下含义：</p>
<p> 
1、广告主：通过代理商或直接向端口网支付服务费用，在端口网上投放自助广告来推广其产品或服务的实际提供者单位或个人（以下简称“甲方”）。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、端口网：杭州也要买电子商务有限公司（www.duankou.com）（以下称 “乙方”）。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、端口网自助广告服务：指端口网在特定网页位置开通的，用于展示甲方网站信息的广告推广服务。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、“广告费”：“广告费”是甲方购买乙方自助广告服务，向乙方支付的费用。由甲方根据自身所需投放的广告数量，自行决定支付费用。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、 “广告费”的续费：甲方为继续购买端口网自助广告服务，在支付首次“广告费”后，继续向乙方支付的广告服务费用。<br/>
<h3>端口网自助广告服务的内容 </h3>
<p>
乙方在收到甲方直接或由通过其代理商支付的“广告费”并审核通过甲方提交的广告标题、广告图片、广告文字描述和广告链接后，将提供以下服务：<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、广告投放：甲方的广告信息将出现在端口网（www.duankou.com）及端口网提供支持的第三方应用的相关页面的特定位置。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、端口网自助广告为甲方提供“自助广告管理中心”（以下简称“管理中心”），甲方支付的广告费用将直接存入甲方端口网账号，由甲方进行自助式管理。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、广告监测：乙方在“管理中心”中提供甲方提交的广告的流量、点击量等相关报告和相应的费用统计报告。在乙方实际对甲方投放的广告进行了监测的情况下（如何认定为已实际监测，结合具体情况填写：比如“以乙方监测工作记录为准“），如双方对广告投放情况有争议，除非法院、仲裁等公权力机关的生效文书，否则应以乙方有关广告投放情况的监测结果为准。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、广告扣费：乙方依据统计报告的数据，从甲方支付的“广告费”中扣除相应费用。若甲方对扣费有异议，应在每笔扣费后的七天内将异议以书面形式送达乙方，双方进行核实，逾期视作无异议。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、广告管理：甲方可在“管理中心”管理甲方提交的广告内容。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、广告续费：甲方的“广告费”使用完毕后可在本协议约定期间内自行选择是否续费。当甲方的广告费余额不足以支付自助广告服务费用时，甲方或其代理商应及时续费，若余额不足，且在24小时内未补足，则视为甲方同意终止本协议。双方协议自动终止。如因甲方或其代理商未能及时续费而造成甲方广告下线，导致端口网自助广告服务终止，乙方不承担责任。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、端口网自助广告服务仅对甲方网站进行链接，甲方的任何商业行为所引起的一切法律纠纷由甲方自行承担，与乙方无关。<br/>
</p>
<h3>甲方的权利和义务 </h3>
<p>
1、甲方保证通过端口网自助广告服务推广的信息不含有任何违反国家有关法律、法规及中华人民共和国承认或加入的国际条约的内容，包括但不限于危害国家安全、淫秽色情、虚假、侮辱、诽谤、恐吓或骚扰、侵犯他人知识产权、人身权或其他合法权益以及有违社会公序良俗的内容或指向这些内容的链接。由此造成的损失由甲方承担。若相关法律法规不得不以乙方名义出面进行处理或不得不牵涉到乙方，则甲方应承担乙方对外所承担的一切责任，并赔偿乙方由此所受的损失。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、甲方保证通过端口网自助广告推广的信息真实、准确、及时、详尽和完整并与相关情况一致，同意接受端口网电话或邮件或上门拜访等方式确认与“端口网自助广告服务“的相关事宜。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、甲方需保证是法律规定的，拥有广告链接以及广告发布的合法权利的主体，拥有承担国家法律法规和相关政策的能力。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、甲方保证其通过端口网自助广告服务推广的网站必须有一定有益的实质内容且与其提交的广告内容有实质关联性（实质内容和关联性标准由乙方全权决定），否则乙方有权在通知甲方后将与其网站内容无关联性的广告内容予以下线或终止其网站的自助广告服务，并退还其未消费完毕的“广告费”余额，而无需承担其他法律责任和费用补偿。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、甲方保证帐户等财务信息的真实性并与推广网站的所有人及端口网自助广告服务协议签约主体保持一致，如因甲方提供的财务信息虚假或者不一致，导致的财务风险由甲方承担，乙方不承担任何责任，由此给乙方造成损失的，甲方应当予以赔偿。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、甲方提交的广告标题、广告图片、广告文字描述和广告链接等内容必须符合《端口网自助广告审核规范》的规定，否则乙方有权拒绝该广告的发布或终止自助广告服务。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、甲方应自行对下述各项负责：（1）甲方提交的所有广告内容、广告信息、广告图片和广告的链接；（2）广告链接的或将浏览者指向的网站、服务及广告的着陆页面、广告的服务和产品。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、甲方的广告信息在通过乙方审核上线推广后，可随时进行修改，但修改后内容需经乙方再次审核，广告修改审核标准参照《端口网自助广告审核规范》。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、甲方认为乙方提供的数据统计报告不准确的，甲方有权在广告使用期终止前书面通知乙方停止端口网自助广告服务，乙方在收到甲方书面通知之日起三个工作日内停止对甲方的服务，并向甲方退还其未消费完毕的“广告费”余额，本协议终止。甲方认为乙方提供的数据统计报告不准确但未书面通知乙方要求停止端口网自助广告服务的，或者向乙方续费继续使用端口网自助广告服务的，视为甲方认可乙方的数据统计报告。甲方的每次“广告费”续费行为将视为已阅读并完全理解本协议最新版且承诺遵守约定。任何一方均有权以拒绝续费的方式终止双方的合作。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10、甲方的每次“广告费”续费行为将视为已阅读并完全理解本协议最新版且承诺遵守约定。任何一方均有权以拒绝续费的方式终止双方的合作。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11、甲方对其在端口网自助广告服务注册的用户名和密码的安全性负全部责任，并对以其用户名进行的所有活动和事件负全部责任，甲方若发现任何非法使用“端口网自助广告服务”管理帐号或存在安全漏洞的情况，应立即通知乙方。<br/>
</p>
<h3>乙方的权利和义务 </h3>
<p>
1、乙方在收到甲方或其代理商支付的“广告费”之后，审核甲方提交的广告信息。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、甲方支付“广告费”的行为与甲方提交的广告信息是否被乙方通过没有因果关系，乙方不保证甲方支付“广告费”的行为会导致甲方提交的广告内容被乙方审核通过。如果甲方提交的广告信息不符合本协议规定和端口网的相关政策，乙方有权拒绝向甲方提供端口网自助广告服务。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、乙方有权随时删除含有任何违反国家相关法律、危害国家安全、淫秽色情、虚假、侮辱、诽谤、恐吓或骚扰、侵犯他人版权或人身权或其他合法权益等有违社会公序良俗的内容或指向这些内容链接的网站，对甲方提交的全部广告内容予以下线，如果甲方的网站因为以上原因，被乙方删除，甲方已支付的“广告费”将不予退还。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、乙方有权根据国家法律法规的调整、行政执法机关的命令和社会伦理道德的变化相应调整广告内容审核标准。甲方不得以类似“广告内容以前曾通过乙方审核”等理由要求乙方继续审核通过广告内容。如系前述审核原因导致甲方的广告内容无法再次通过审核的，该广告内容下线，乙方不负任何责任。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、乙方有权根据实际情况调整“广告费”和““广告费”预付款的支付方式和支付标准，但调整前甲方已经支付的款项不受影响。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、甲方网站及甲方所从事的经营业务不得对乙方及乙方关联公司的利益构成任何现实或潜在的损害或冲突，否则乙方有权通知甲方立即终端口网自助广告服务，并不退还其未消费完毕的“广告费”余额，而无需承担其他法律责任和费用补偿。<br/>
</p>
<h3>付款</h3>
<p>
1、甲方或其代理商可以采用 网上支付 或 线下支付 的形式支付本协议规定的“广告费”的预付款，并在余额充足的情况下，自行安排广告投放<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、向乙方支付预付款之日起，即视为甲方已接受乙方提供的自助广告服务内容，如非因乙方违反本协议内容，乙方将不予退还甲方账户内余款。<br/>
</p>
<h3>合理变更</h3>
<p>
1、基于市场整体利益考虑及经营需要，乙方有权不定期对其网站服务内容、版面布局、页面设计等进行调整，如因上述调整造成本合同项下的广告不能按计划进行发布，乙方应提前2个工作日通知甲方，并应尽可能将上述影响减少到最低程度。乙方不需承担违约责任。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、为保证网站正常运行，在必要情况下，乙方需定期或不定期地对网站进行停机维护，如因此类情况而造成本合同项下的广告不能按计划进行发布，乙方无需承担违约责任，但应尽可能将上述影响减少到最低程度。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、如乙方因上述两种情形而不能按规定发布广告，乙方应在影响广告发布的情形结束后，以不低于原双方约定的条件发布受影响部分的广告，或与甲方协商确定其他合理解决方案。<br/>
</p>
<h3>授权使用</h3>
<p>
1、甲方同意乙方可在乙方的宣传资料（包括但不限于网页、印刷资料、录音等）中使用甲方的企业名称、商标、标识或其他任何类似文字或图形，以说明甲方是乙方的广告客户。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、甲方同意乙方在端口网的服务器上保存甲方的信息（包括但不限于甲方的注册信息、消费信息）；乙方承诺不向第三方公开甲方信息，除非甲方授权乙方透露这些信息，或者相关的法律法规、司法行政程序要求乙方提供甲方的信息。<br/>
<h3>保密条款</h3>
<p>
1、任何一方对于因签署或履行本合同而了解或接触到的对方的机密资料和信息（下称“保密信息”）均应保守秘密；非经对方书面同意，任何一方不得向第三方透露该等保密信息。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、如对方提出要求，任何一方均应将载有对方保密信息的任何文件、资料或软件，按对方要求归还对方，或予以销毁，或进行其他处置，并且不得继续使用这些保密信息。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、在本合同终止之后，各方在本合同项下的义务并不随之终止，各方仍需遵守本合同之保密条款，履行其所承诺的保密义务，直到其他方同意其解除此项义务，或事实上不会因违反本合同的保密条款而给其他方造成任何形式的损害时为止。<br/>
</p>
<h3>违约责任 </h3>
<p>
1、除非本合同另有规定，否则如因乙方过错导致甲方的部分或全部广告不能按规定的期限、位置以及数量进行发布，给甲方造成损失的，违约金和赔偿金的最高限额为甲方有关“端口网自助广告服务” 向乙方首次提出赔偿主张时最近一次续费实际支付的“端口网自助广告服务”广告费。甲方未续费的，以首次支付的“广告费”预付款为限额。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、对下列情形，乙方不承担任何责任：<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;由于甲方或其代理商故意或过失导致甲方遭受损失的；<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;由于乙方对端口网自助广告服务系统进行升级、系统更新、系统测试、抽样测试，对甲方产生的任何影响。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;本协议其他条款规定的情形。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、除前两款规定外，如任何一方违反本合同的其他规定而给对方造成损失，违约方均应当依法向守约方支付全面足额的赔偿。<br/>

</p>
<h3>不可抗力</h3>
<p>
1、“不可抗力”是指本协议双方不能合理控制、不可预见或即使预见亦无法避免的事件，该事件妨碍、影响或延误任何一方根据本合同履行其全部或部分义务。该事件包括但不限于政府行为、自然灾害、战争、网络堵塞或中断、黑客袭击或任何其它类似事件。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、遭受不可抗力事件的一方可暂行中止履行本协议项下的义务直至不可抗力事件的影响消除为止，并且无需为此而承担违约责任；但应尽最大努力克服该事件，减轻其负面影响。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、如不可抗力事件持续20日或在本合同有效期内累计超过30日，则任何一方有权以书面通知的方式单方提前终止本协议。<br/>

</p>
<h3>争议解决</h3>
<p>
1、在双方就本合同项下条款的解释和履行发生争议时，双方应以善意通过协商解决该争议。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、如协商不成，双方应当将有关争议提交杭州市仲裁委员会，按照其现行的仲裁规则仲裁。仲裁地点在杭州；仲裁使用之语言为中文。仲裁裁决应是终局性的，对双方均有拘束力。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、本合同的订立、效力、执行和解释及争议的解决均应适用中国法律。<br/>
</p>
<h3>协议的修改 </h3>
<p>
1、乙方有权根据中华人民共和国有关法律、法规的变化、互联网的发展以及公司经营状况和经营策略的调整等情况修改本协议，当发生有关争议时，以最新的服务协议为准。如甲方拒绝修改，可在修改通知之日起3日内主动停止使用端口网自助广告服务，并书面通知乙方；逾期未停止使用心网自助广告服务的，视为接受本协议的改变。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、如果本合同中的任何条款因违反法律或政府规定或因其他原因而完全或部分无效或不具有执行力，则该条款被视为删除。但该条款的删除不影响本合同其他条款的法律效力。<br/>
</p>
<h3>其他规定</h3>
<p>
1、如乙方收到国家有关执法部门的书面指令或通知，要求停止甲方所投放的广告，乙方因遵守国家有关执法部门的书面指令或通知而撤销甲方的广告的，不能视为乙方违反本合同的约定。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、因甲方所投放的广告侵犯第三人的利益而使乙方遭受损失的，甲方应承担全部赔偿责任。若相关法律法规不得不以乙方名义出面进行处理或不得不牵涉到乙方，则甲方应承担乙方对外所承担的一切责任，并赔偿乙方由此所受的损失。<br/>
<h3>生效和终止 </h3>
<p>
1、本协议经甲方或其代理商点击“同意”后生效。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、协议双方均有权以拒绝续费的方式终止本协议。<br/>
</p>
  </div>
  <br class="clear"/>
</div>
<div class="bottom"><a href="agreement_main">用户使用协议</a>&nbsp;-&nbsp;<a href="terms">专页条款</a>&nbsp;-&nbsp;<a href="principle">平台使用原则</a>&nbsp;-&nbsp;<a href="privacy_statement">隐私声明</a></div>
</body>
</html>
