<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>隐私声明</title>
<link type="text/css" rel="stylesheet" href="<!--{$smarty.const.MISC_ROOT}-->css/service/agreement.css">
</head>

<body>
<div class="toper">
	<div class="t_contain">
    	<p class="top_logo"><img src="<!--{$smarty.const.MISC_ROOT}-->img/logo.png" width="102" height="19" alt="端口网"/></p>
    	<!--{if isset($userinfo['uid'])&&$userinfo['uid']}-->
    			 <p class="top_link"><a href="/"><!--{$userinfo['username']}--></a>你好！欢迎回来！
    	<!--{else}-->
    	        <p class="top_link"><a href="/">登录</a> <a href="/">注册</a></p>
    	<!--{/if}-->
        <br class="clear"/>
  </div>
</div>
<div class="agreement_main">
  <div class="left_nav">
    <ul>
      <li><a href="agreement_main">&gt;&nbsp;&nbsp;用户使用协议</a></li>
      <li><a href="terms">&gt;&nbsp;&nbsp;专页条款</a></li>
      <li><a href="principle">&gt;&nbsp;&nbsp;平台使用原则</a></li>
      <li><a href="privacy_statement">&gt;&nbsp;&nbsp;隐私声明</a></li>
	  <li><a href="agreement_ad">&gt;&nbsp;&nbsp;广告服务协议</a></li>
    </ul>
  </div>
  <div class="right_contain">
    <h1>隐私声明</h1>
    
    <p>端口网（http://www.duankou.com/）是一个大型网络互动社交平台，依据<a href="principle">平台使用原则
</a>所提倡的，我们非常重视对您的个人隐私保护。为了更好的为您及您身边的朋友提供本服务，我们依据本隐私声明，要求您提供某些我们需要的信息。本隐私声明解释了相关情况下的数据收集和使用情况。</p>
    <p>本隐私声明适用于端口网的所有相关服务，随着端口网服务范围的扩大，隐私声明的内容可由端口网随时更新，且毋须另行通知。更新后的隐私声明一旦在网页上公布即有效代替原来的隐私声明。</p>

<h3>我们收集哪些信息</h3>
<p>
通常，您能在匿名的状态下访问端口网并获取信息。当我们需要能识别您的个人信息或者可以与您联系的信息时，我们会征求您的同意。通常，在您注册端口网或申请开通新的功能时，我们可能收集这些信息：姓名，Email地址，住址和电话号码，并征求您的确认。</p>

<h3>关于您的个人信息</h3>
<p>
端口网严格保护您个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。</p>
<p>端口网会在法律要求或符合端口网的相关服务条款、软件许可使用协议约定的情况下透露您的个人信息，或者有充分理由相信必须这样做才能：</p>
<p>
(a) 满足法律或行政法规的明文规定，或者符合端口网网站适用的法律程序；<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(b)符合端口网相关服务条款、软件许可使用协议的约定；<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(c) 保护端口网的权利或财产，以及 (d) 在紧急情况下保护端口网员工、端口网产品或服务的用户或大众的个人安全。

</p>
<p>端口网不会未经您的允许将这些信息与第三方共享，本声明已经列出的上述情况除外。</p>
<h3>Cookie的使用</h3>
<p>使用 Cookie 能帮助您实现您的联机体验的个性化，您可以接受或拒绝 Cookie ，大多数 Web 浏览器会自动接受 Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝 Cookie。</p>
<p>端口网有时会使用 Cookie 以便知道哪些网站受欢迎，使您在访问端口网时能得到更好的服务。Cookie不会跟踪个人信息。</p>
<p>当您注册端口网时，端口网亦会使用 Cookie。在这种情况下，端口网会收集并存储有用信息，当您再次访问端口网时，我们可辨认您的身份。来自端口网的 Cookie 只能被端口网读取。</p>
<p>如果您的浏览器被设置为拒绝 Cookie，您仍然能够访问端口网的大多数网页。</p>
<h3>关于免责说明</h3>
<p>就下列相关事宜的发生，端口网不承担任何法律责任：<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏，或其他非因端口网原因导致的个人信息的泄漏；<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 端口网根据法律规定或政府相关政策要求提供您的个人信息；<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 任何第三方根据端口网各服务条款及声明中所列明的情况使用您的个人信息，由此所产生的纠纷；<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭；<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 因不可抗力导致的任何后果；<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 端口网在各服务条款及声明中列明的使用方式或免责情形。<br/>
</p>	
  </div>
  <br class="clear"/>
</div>
<div class="bottom"><a href="agreement_main">用户使用协议</a>&nbsp;-&nbsp;<a href="terms">专页条款</a>&nbsp;-&nbsp;<a href="principle">平台使用原则</a>&nbsp;-&nbsp;<a href="privacy_statement">隐私声明</a></div>
</body>
</html>
