<!--{extends file='default.html'}-->

<!--{block name='header_css' append}-->
<link href="<!--{$smarty.const.MISC_ROOT}-->css/group/groupall.css" rel="stylesheet" type="text/css" />
<!--{/block}-->

<!--{block name='right'}-->
<div class="modlueHeader" style="border: 0;">
	<strong>新建群名称：</strong><!--{$group_name}-->
</div>

<div class="modlueBody" style="border:0;padding-top:0;margin-top:0;">
	<div class="listSearch" style="height:20px;">
		<h4>好友 (<!--{$count}-->)</h4>
		<input type="text" value="请输入姓名" class="fieldWithText" ref="请输入姓名" id="searchList" /><span class="btnGray"><s></s></span>                       
	</div>
	<form method="post" action="<!--{mk_url('group/group/addCustom')}-->" id="follow_list_form">
	<input type="hidden" name="name" value="<!--{$group_name}-->" />
	<ul class="listWrap clearfix" id="listWrap"> 
		<!--{foreach from = $users item=flist}-->
		<li class="clearfix">
			<div class="check">
				<span><input name="uid[]" value="<!--{$flist['id']}-->" type="checkbox" /></span>
			</div>
			<div class="avatarBox" >
				<a href="<!--{mk_url('main/index/main', ['dkcode' => $flist.dkcode])}-->"><img src="<!--{$flist['src']}-->" /></a>
			</div>
			<span class="uName">
				<a href="<!--{mk_url('main/index/main', ['dkcode' => $flist.dkcode])}-->"><!--{$flist['name']}--></a>
			</span>
		</li>
        <!--{/foreach}-->
    </ul>
    <div class="clearfix"></div>
    <div id="loadmore" class="loadmore hide"><a></a></div>
	<div class="blankWrap hide" id="noresult"><span>未检索到任何结果，请重新输入关键字</span></div>
	<div style="text-align:right;padding:0 20px;color:white;" id="start"><input type="submit" value="开始" disabled="disabled" class="dis"/></div>
	</form>
</div>
<!--{/block}-->



<!--{block name='footer_js' append}-->
<script type="text/javascript">
$(function() {
	list.init({moreUrl:'group/group/getFriendList', searchUrl:'group/group/searchFriendList'});
});
</script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/group/followlist.js" type="text/javascript"></script>
<script src="<!--{$smarty.const.MISC_ROOT}-->js/group/group2.js" type="text/javascript"></script>
<!--{/block}-->