<div id="addNew_album">
  <table id="addNew_album_table">
	<tr class="tc_red">
	  <th></th>
	  <td class="tc_red"></td>
	</tr>
	<tr>
	  <th>相册名称：</th>
	  <td class="hasSelect">
		  <i class="listDownIcon" id="listDownIcon"></i>
		  <input id="addNew_album_name" name="addNew_album_name" class="fieldWithText addNew_album_name" type="text" value="" ref="" maxlength="50" />
		  <div class="createAndSelectAlbum">
	  		<div class="createAlbum clearfix">
				<span><input type="text" class="create_txt" value="新建相册" maxlength="50" /></span>
				<span class="btnBlue createBtn"><a href="#">新建</a></span>
			</div>
		 	<ul>
		 		 <!--{if $album_lists}-->
					<!--{foreach from=$all_album_list item=item}-->
						<!--{if $item['a_type'] == 0}-->
							<li title="<!--{$item['name']}-->" albumId="<!--{$item['id']}-->"><!--{$item['name']}--></li>
						<!--{/if}-->
					<!--{/foreach}-->
				  <!--{/if}-->
		 	</ul>
		  </div>
	  </td>
	</tr>
	<tr>
	  <th>说明：</th>
	  <td><textarea  id="addNew_album_introduction" name="addNew_album_introduction" class="fieldWithText addNew_album_introduction" ref="添加相册说明"  maxlength="140">添加相册说明</textarea></td>
	</tr>
  </table>
</div>
