<div id="edit_album">
  <table id="edit_album_table">
    <tr class="tc_red">
      <th></th>
      <td class="tc_red"></td>
    </tr>
    <tr>
      <th>相册名称：</th>
      <td><input id="editAlbum_name" name="editAlbum_name" class="editAlbum_name" type="text" value="<!--{$datainfo['name']}-->" maxlength="50" /></td>
    </tr>
    <!--<tr><th>地点：</th>
      <td><input id="editAlbum_adress" name="editAlbum_adress" class="editAlbum_adress" type="text" value="$datainfo['a_address']" maxlength="50" /></td>
    </tr>-->
    <tr>
      <th>说明：</th>
      <td><textarea  id="editAlbum_introduction" name="editAlbum_introduction" class="editAlbum_introduction" maxlength="140"><!--{$datainfo['discription']}--></textarea>
	</td>
    </tr>
  </table>
</div>