<!--{extends file="base_layout.html"}-->
<!--{block name='header_js'}-->
<link href="<!--{$smarty.const.MISC_ROOT}-->css/credits/credits.css" rel="stylesheet" type="text/css" />
<!--{/block}-->

<!--{block name='body'}-->

<div class="body clearfix">
	<div class="mainArea">
		<div class="modlueHeader clearfix"> <span class="userImg"><a href="<!--{$userinfo['url']}-->"><img src="<!--{$userinfo['avatar']}-->" alt="" /></a></span>
			<div class="userName"> <span class="nameTxt"><a href="<!--{$userinfo['url']}-->"><!--{$userinfo['action_username']}--></a></span> <span class="nameTxt"><a>端口积分</a></span> 
				<!--<span class="nameTxt"><a class="selectClassBtn" id="selectClassBtn"></a></span>--> 
			</div>
		</div>
		<div class="modlueBody p0 clearfix"> 
			
			<!-------------左侧栏-------------->
			<div class="dk-siderBar">
				<ul class="subNav">
					<li><a href="<!--{mk_url('credit/credit/index')}-->">我的积分</a></li>
					<li><a class="nav_current" href="<!--{mk_url('credit/product/index')}-->">积分兑换</a></li>
					<li><a href="<!--{mk_url('credit/credit/intro')}-->">成长体系介绍</a></li>
					<li><a href="<!--{mk_url('credit/credit/faq')}-->">常见问题</a></li>
				</ul>
			</div>
			<!-------------主体-------------->
			<div class="dk-main"> 
				<!-------------用户特权-------------->
				
				<div class="conBox-tt clearfix">
					<h3 class="fl">兑换记录</h3>	
					<ul class="nav_s fr clearfix">
						<li><a href="#">主题活动</a>
							<div></div>
						</li>
						<li><a href="<!--{mk_url('credit/redeem/index')}-->">兑换记录</a></li>
						<li><a class="last" href="<!--{mk_url('credit/address/index')}-->">收货地址</a></li>
					</ul>
				</div>
				<!------------详细--------------->
				<div class="mt20">
					<ul class="tabs clearfix">
						<li class="select" typ="0">全部物品</li>
						<li typ="1">实物礼品</li>
						<li typ="2">虚拟物品</li>
						<li typ="3">游戏兑换</li>
						<li typ="4">优惠券</li>
					</ul>
				</div>
				<div>
					<table id="h-table" class="mt30">
						<tbody>
							<tr class="bgc2">
								<th class="h-table-tt">兑换时间</th>
								<th class="h-table-tt">编号</th>
								<th class="h-table-tt">兑换物品</th>
								<th class="h-table-tt">使用积分</th>
								<th class="h-table-tt">剩余积分</th>
								<th class="h-table-tt">查看详情</th>
								<th class="h-table-tt">其他操作</th>
							</tr>
							<!--{foreach $redeems as $redeem}-->
							<tr type="<!--{$redeem.type}-->">
								<td><!--{date('Y-m-d', $redeem.time)}--></td>
								<td><!--{$redeem.redeemId}--></td>
								<td><!--{$redeem.pname}--></td>
								<td><!--{$redeem.c}--></td>
								<td><!--{$redeem.left}--></td>
								<td><!--{if $redeem.type eq 1}--><a class="activity_d" redeemId="<!--{$redeem.redeemId}-->" href="javascript:void(0)">查看详情</a><!--{/if}--></td>
								<td><!--{if $redeem.type eq 1}--><a class="activity_c" redeemId="<!--{$redeem.redeemId}-->" href="javascript:void(0)">查看进度</a><!--{else}-->
									
								<a href="#" redeemId="<!--{$redeem.redeemId}-->">立即使用</a><!--{/if}--></td>
							</tr>
							<!--{foreachelse}-->
							<tr id="noLog">
								<td colspan="7">没有兑换记录！</td>
							</tr>
							<!--{/foreach}-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="sideArea"> sideArea </div>
</div>

<!--{/block}--> 

<!--{block name='footer_js'}-->
<script type="text/javascript" src="<!--{$smarty.const.MISC_ROOT}-->js/plug/popUp/popUp.js"></script> 
<script type="text/javascript" src="<!--{$smarty.const.MISC_ROOT}-->js/credits/records.js">
</script> 
<!--{/block}-->