/*
 * Created on 2012-03-05
 * @author： duxianwei
 * @version： 1.0
 * @desc：关注、粉丝、好友
 */

 /*好友粉丝或者关注列表*/
 #group_follower a,#group_friend a{display:inline-block; color: #333; padding: 0px 8px; height:25px; line-height:25px; margin-top:10px; border: 1px solid #aaa; border-radius: 3px;background-color: #F2F2F2;}
 .popTitle span{padding-left:5px;}
 .friends_operation { padding:10px; border-bottom:1px solid #ccc; background:#f2f2f2; }
 #group_detail{padding:10px;}
 .group_list { height:350px;_height:342px;width:740px; overflow: auto; position:relative; z-index:0; background-color: #fff;outline:none }
 .group_list ul{display: block;}
 .group_list li {z-index:3;display: block; float: left; height: 50px; position: relative; width: 114px; overflow: hidden; padding:2px; border:1px solid #fff; list-style:none; margin:0 22px 16px 0;}
 .group_list li span { display: block; position: relative; width: 118px; height:50px; cursor:pointer; z-index:2;} 
 .group_list li a { left: 65px; position: absolute; top: 0; }
 .group_list li.checked { background:#d8dfea; border:1px solid #c3cce1; }
 .group_list li.disabled { background:#ccc; opacity:0.3;filter:Alpha(Opacity=30);}
 .group_list li img { left: 0; top:0; position: absolute;  z-index:1;}
 .group_list li input { position: absolute; left:65px; top: 37px; *top:34px; }
 /*点击下一步填写群组信息*/
 #group_info{ padding: 26px 0px 0px 0px;}
 #group_table{ margin: 0 auto;}
 .group_info_fill{ height:433px;_height:425px;}
 #group_table th{ padding: 0px 5px 0 0; font-weight:400; text-align: right;}
 #group_table td{ padding: 0px 0px 15px 0px;}
 .group_logo li{ float: left; margin: 0px  16px 0px 0px; cursor: pointer;border:2px solid #fff; padding:2px;}
 .group_logo li.checked{border: 2px solid #D8E2F5;border-radius: 3px;}
 .group_logo li a{border: 1px solid #fff;display: inline-block;width:62px; height:62px;}
 .group_logo li a:hover{border: 1px solid #9cabcc;}
 .group_logo li img{ width:62px; height:62px;}
 #group_name,#group_textarea{border:1px solid #bdc7d8; width:456px;}
 #group_name{  height:21px; line-height:21px; padding:0 4px 0 4px;}
 #group_textarea{ height:109px; padding:4px; overflow:auto;}
 .popBtnsWrap span{ margin: 0px 4px 0px 0px;}
 #group_table .popBtnsWrap{ border:0; text-align: left; padding:0px; background-color:#fff;}
 #group_table .popBtnsWrap span{ margin: 0px 4px 0px 0px;}
 .color999{color:#999;}
 .color333{ color: #333;}
 /*群组列表*/
 .group_search{padding:10px;height:25px;overflow:hidden;border-bottom:1px solid #ccc;background-color:#F2F2F2;text-align:right;}
 .group_search_input{display:inline-block;height:24px; line-height:24px; border:1px solid #999; width:185px;padding-left:4px; background:#fff;}
 .group_search_submit{display:inline-block;height:24px;line-height:20px;margin-left:10px;}
 #modlueBody_group{ padding:28px;}
 .group_mine{ background-color: #fff;width:792px;overflow: hidden;*margin-bottom:30px;}
 .group_title{ font-size:14px;margin-bottom:30px;}
 .group_title h4{font-size:14px;}
 .group_mine_ul{ width:840px;}
 .group_mine_ul li{ float:left;width:214px;height:63px;border:1px solid #bec7d8;padding:15px 8px;margin:0px 48px 30px 0px;overflow: hidden;}
 .group_logo_a{width:62px;height:62px;display: block;float: left;padding:0px 8px 0px 0px;overflow: hidden;}
 .group_mine_li_right{float: left;width:144px;}
 .group_mine_li_right h5{ font-size:12px;color:#3a599a;margin-bottom:10px;width:144px;height:18px;;}
 /*.group_mine_li_right h5 a{display:block;width:90px;float:left;height:18px;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}*/
 .group_mine_li_right h5 span{color:#555;font-weight:400;}
 .group_dl dd{float:left;width:45px;padding-left:20px;}
 .group_dl .group_dl_dd_first{border-right:1px solid #d8dfea;padding:0px;}
 .group_dl dd a{padding-left:5px;}
 /*群组首页*/
 .group_index{border-radius: 3px 3px 3px 3px;background-color: #fff;border:1px solid #C4CCDF;margin-top:15px;}
 .group_index_left{width:645px;float: left;}
 .group_index_header{padding:30px 30px 5px 30px;height:63px;overflow:hidden;}
 .group_index_header h3 a{font-size:14px;}
 .group_index_header_logo{display:block;float:left;width:62px;height:62px;padding-right:13px;overflow:hidden;}
 .group_add{display:block;width:92px;height:26px;background:url("../../img/default/group_add.png") 0 0 no-repeat;margin:10px 0px 0px 75px;}
 .group_index_info{background-color:#f2f2f2;border-top:1px solid #bec7d8;border-bottom:1px solid #bec7d8;padding:10px 20px 10px 50px;}
 .group_index_info h4{color:#3B5998;font-size:12px;}
 .group_index_main{padding:20px 20px 20px 30px;}
 .group_index_main-textarea textarea{width:585px;height:207px;border:1px solid #C4CCDF;overflow:auto;padding:4px;}
 .group_index_main-textarea textarea.color333{color:#333;}
 .sub{margin-top:20px;}
 .group_index_right{float:left;width:203px;border-left:1px solid #C4CCDF;}
 .group_index_set{height:68px;overflow:hidden;}
 .group_index_set ul{padding:30px 0px 20px 0px;}
 .group_index_set ul li{float:left;padding:0 10px 0 15px;white-space:nowrap;position:relative;}
 .group_index_set ul li a{color:#333;}
 .group_set_icon,.group_set_manage,.group_user_bar_search{display:block;float:left;background:url("../../img/default/group_icon.png") no-repeat;overflow:hidden;}
 .group_set_icon{width:10px; height:10px;background-position:0px 0px;margin:5px 8px 0px 0px;_margin:5px 4px 0px 0px;}
 .group_set_manage{width:13px; height:12px; background-position:-10px 0px;margin:4px 6px 0px 0px;_margin:3px 3px 0px 0px;}
 .group_user_bar{position:relative;border-top:1px solid #bec7d8;border-bottom:1px solid #bec7d8;background-color:#d8dfea;height:29px;line-height:29px;padding:0px 15px;margin-bottom:10px;}
 .group_user_bar_search{float:right;background-position:-23px 0px;width:11px;height:11px;position:absolute;right:15px;top:10px;}
 
 .group_user_list_ul li{clear:both;padding:0px 0px 5px 15px;}
 .group_user_list_photo{ margin-right:9px;}
 .group_user_list_photo img{width:32px;height:32px;}
 /*滚动条调用*/
.group_user_list{width: 178px;height:430px;overflow:auto;margin-bottom:10px;outline:none}
.horizontal-only{height: auto;max-height: 200px;}
.group_user_list .jspVerticalBar,.group_list .jspVerticalBar{width:4px;}
.group_user_list .jspDrag,.group_list .jspDrag{background-color:#c5cade;}
.group_user_list .jspTrack,.group_list .jspTrack{background-color:#eaeaf2;}

/*群基本资料*/
.group_profile{ background-color:#fff; border:1px solid #cacae4; border-radius:3px;margin:20px 0 0 0;padding:20px;}
.group_profile h1{ font-size:14px;margin:0 0 20px 0;}
.group_profile .tab{ border-bottom:1px solid #c7c9de;border-left:1px solid #c7c9de;}
.group_profile .tab li{float: left; border:1px solid #c7c9de; border-left:0; position: relative; margin-bottom:-1px; padding:2px 10px; height:22px; cursor:pointer; color:#3b5998;}
.group_profile .tab li.current{border-bottom:1px solid #fff; color:#333;}
.group_profile #group_table { margin:0;}



/*群首页*/
.group{ background-color:#fff;}
.group .showHeaderArea{ border:0;}
.group_default{ padding:10px 0 0 0;}
/*群首页左侧*/

.group_index_l{ width:179px; float: left;}
.group_user{ padding:10px 0 20px 0;}
.group_user_img{ display: block; float: left; margin:0 8px 0 0; font-weight:600;}
.group_user_name{ overflow: hidden; height:50px; line-height:50px; word-wrap:break-word;}
.group_user_name a{ font-weight:600;}
.group_app_list_wrap{ margin:0 0 10px 0;}
.group_app_header{ font-size:12px; font-weight:600; color:#999; margin:0 0 3px 0;}
.group_list_ul_li{ margin:0 0 3px 0;}
.group_list_ul_li a{ color:#333; display: block; padding:0 8px 0 28px; height:20px; line-height:20px; overflow: hidden;}
.group_list_ul_li a:hover{ background-color:#d8deea; color:#333; font-weight:600;}
.group_list_ul_li .img_wrap{ display:inline-block; width:18px; float: left; margin:4px 0 0 -20px;}
.icon{ display:inline-block;background:url("../../img/system/group_index_icon.png") no-repeat;}
.icon_group_forum{ width:15px; height:13px; background-position:0 0;}
.icon_group_act{ width:15px; height:15px; background-position:0 -13px;}
.icon_group_create{ width:10px; height:10px; background-position:0 -42px; margin:2px 0 0 2px;}
.icon_group_financial,.icon_group_market{ width:15px; height:14px; background-position:0 -28px;}
/*群首页时间线*/
.group_index_r{ float: left; width:380px;}
.group_timeline{ width:411px; border-left:1px solid #ccc; float: left;}
.group_member{ text-align: center; padding:10px 0 0 10px;}
.group_member a{ display: inline-block; padding:2px 6px;  margin: 0px 10px 10px 0px; border:1px solid #29437e;}

/*已有的样式拷贝*/
#timelineContent .timelineBox{border:0;margin: 5px 0 0 10px;}
.txtArea #myStatusTextArea{ width:380px;}

