<!--{extends file='base_layout.html'}-->
<!--{block name='title' prepend}-->
确认广告信息-
<!--{/block}-->

<!--{block name='header_js'}-->
<link href="<!--{$smarty.const.MISC_ROOT}-->css/pro/pro.css" rel="stylesheet" type="text/css" />
<!--{/block}-->

<!--{block name='body'}-->
<div class="body clearfix">
	<div class="mainArea">
		<!-- - - - - modlueHeader开始 - - - - -->
		<div class="modlueHeader clearfix">
			<span class="userImg"><a href="<!--{$user_info['url']}-->"><img src="<!--{$user_info['avatar_img']}-->" alt="" /></a></span>
			<div class="userName">
			    <span class="nameTxt"><a href="<!--{$user_info['url']}-->"><!--{$user_info['username']}--></a></span>
				<span class="nameTxt">订单确认</span>
			</div>
					</div>
		<!-- - - - - modlueHeader结束 - - - - -->
		<!-- - - - - modlueBody开始 - - - - -->
		<div class="modlueBody">
			<div class="clearfix hasRightCol home" id="contentCol">
	          <!-- start:广告申请 -->
	          <div id="createAds">
	            <div class="codeBlock clearfix">
	              <h2 class="bigAdsTitle">订单详情</h2>
					
					
					<div class="caList">
						<h4>广告基本信息</h4>
						<ul class="caList-ul">
							<li class="clearfix">
								<label class="th">广告标题：</label>
								<div class="fl"><!--{$adinfo.title}--></div>
							</li>
							<li class="clearfix">
								<label class="th">URL：</label>
								<div class="fl"><div class="wdb w650"><!--{$adinfo.url}--></div></div>
							</li>		
							<li class="clearfix">
								<label class="th">广告预览：</label>
								<div class="fl">
									<div class="preview-box fl" id="adsPreview">
									<dl><dt style="width: 220px;"><a href="###"><!--{$adinfo.title}--></a></dt>
										<dd style="width: 220px;" class="extAdsIntro clearfix"><a href="###"><img src="<!--{$adinfo.media_uri}-->" id="prevAdsImg" alt="<!--{$adinfo.title}-->"><span class="wdb" style="width: 100px; float: right;"><!--{$adinfo.introduce}--></span></a></dd></dl>
									</div>
								</div>
							</li>					
						</ul>
					</div>
				<!--{if $adinfo.classify==1}-->						
					<div class="caList">
						<h4>广告投放筛选</h4>
						<ul class="caList-ul">
							<li class="clearfix">
								<label class="th">地区：</label>
								<div class="fl">
								<!--{foreach from=$adinfo.region_name item=region}-->
									<!--{$region}-->
								<!--{/foreach}-->
								</div>
							</li>
							<li class="clearfix">
								<label class="th">年龄：</label>
								<div class="fl"><!--{$adinfo.age_range_name}--></div>
							</li>		
							<li class="clearfix">
								<label class="th">性别：</label>
								<div class="fl"><!--{$adinfo.gender_name}--></div>
							</li>
							<li class="clearfix">
								<label class="th">频道：</label>
								<div class="fl w650 inlist">
								<!--{foreach from=$adinfo.interest_name item=interest}-->
									<!--{$interest}-->&nbsp;
								<!--{/foreach}-->
								</div>
							</li>
						</ul>
					</div>
				<!--{/if}-->											
					<div class="caList">
						<h4>广告预算信息</h4>
						<ul class="caList-ul">
							<li class="clearfix">
								<label class="th">广告名称：</label>
								<div class="fl"><!--{$adinfo.name}--></div>
							</li>
							<li class="clearfix">
								<label class="th">预算：</label>
								<div class="fl">￥ <!--{if $adinfo.budget_sort==0}--><!--{$adinfo.budget}--> 每日<!--{else}--><!--{$adinfo.budget}--> 总预算<!--{/if}--></div>
							</li>		
							<li class="clearfix">
								<label class="th">计费方式：</label>
								<div class="fl"><!--{if $adinfo.charge_mode=='CPM'}-->按展示付费(CPM)<!--{else}-->按点击付费(CPC)<!--{/if}-->  竞价价格为￥<!--{$adinfo.bid}-->元</div>
							</li>	
							<li class="clearfix">
								<label class="th">投放时间：</label>
								<div class="fl"><!--{if $adinfo.start_time!='null'}--><!--{$adinfo.start_time}--><!--{else}--><!--{$smarty.now|date_format:"%Y-%m-%d"}--><!--{/if}--></div>

							</li>																
						</ul>
					</div>
					<div class="caList clearfix">
						<h4></h4>
						<label class="th">&nbsp;</label>
						<p class="fl"><span class="btnBlue" id="final_save_ads">提交订单</span>&nbsp;&nbsp;<a href="<!--{mk_url('ads/ad/addad')}-->" class="btnGray">取消</a></p>
					</div>																
				  </div>
	          
	          <!-- end:广告申请 --> 
       		 </div>
		</div>
		<!-- - - - - modlueBody结束 - - - - -->
	</div>
</div>

<!--{/block}-->

<!--{block name='footer_js'}-->
<script src="<!--{$smarty.const.MISC_ROOT}-->js/pro/createPro.js?v=<!--{$smarty.const.JS_VER}-->" type="text/javascript"></script>
<!--{/block}-->