<!--{extends file='base_layout.html'}-->
<!--{block name='title' prepend}-->
自助广告商管理中心-广告列表-
<!--{/block}-->

<!--{block name='header_js'}-->
<link href="<!--{$smarty.const.MISC_ROOT}-->css/pro/pro.css" rel="stylesheet" type="text/css" />
<!--{/block}-->

<!--{block name='body'}-->
<div class="body clearfix">
	<div class="mainArea">
		<!-- - - - - modlueHeader开始 - - - - -->
		<div class="modlueHeader clearfix">
			<a href="<!--{mk_url('ads/ad/index')}-->" class="fr btnGray color3 mt3">+ 创建广告</a>
			<span class="userImg"><a href="<!--{$user_info['url']}-->"><img src="<!--{$user_info['avatar_img']}-->" alt="" /></a></span>
			<div class="userName">
			    <span class="nameTxt"><a href="<!--{$user_info['url']}-->"><!--{$user_info['username']}--></a></span>
				<span class="nameTxt">广告列表</span>
			</div>
					</div>
		<!-- - - - - modlueHeader结束 - - - - -->
		<!-- - - - - modlueBody开始 - - - - -->
		<div class="modlueBody plrn">
			<div class="clearfix hasRightCol home" id="contentCol">
	          <!-- start:广告列表 -->
	          <div id="createAds">
	            <div class="codeBlock clearfix">
	            	<div class="manage-nav clearfix">
						<ul class="clearfix">
							<li><a href="<!--{mk_url('ads/adadmin/index')}-->">首页</a></li>
							<li class="on"><a href="<!--{mk_url('ads/adadmin/listad')}-->">广告列表</a></li>
							<li><a href="<!--{mk_url('ads/adadmin/reportad')}-->">报告</a></li>
							<li><a href="<!--{mk_url('ads/adadmin/setad')}-->">设置</a></li>
							<li><a href="<!--{mk_url('ads/adadmin/billad')}-->">账单</a></li>
						</ul>
					</div>
					<h2 class="manage-subhd">所有广告</h2>
					<div class="manage-opt">
						<select name="sort-ads" id="sort-ads" class="sel jumpUrl">
							<option value="<!--{mk_url('ads/adadmin/listAd')}-->" <!--{if $date_selected==1}-->selected<!--{/if}-->>所有广告</option>
							<option value="<!--{mk_url('ads/adadmin/listAd')}-->?date_selected=2" <!--{if $date_selected==2}-->selected<!--{/if}-->>昨天</option>
							<option value="<!--{mk_url('ads/adadmin/listAd')}-->?date_selected=3" <!--{if $date_selected==3}-->selected<!--{/if}-->>过去七天</option>
							<option value="<!--{mk_url('ads/adadmin/listAd')}-->?date_selected=4" <!--{if $date_selected==4}-->selected<!--{/if}-->>过去1个月</option>
							<option value="<!--{mk_url('ads/adadmin/listAd')}-->?date_selected=5" <!--{if $date_selected==5}-->selected<!--{/if}-->>过去3个月</option>
						</select>
					</div>
					<div class="caList">
						<div class="ad-list-block">
							<table class="adlist-mod tac">
								<thead>
									<tr>
										<th class="tac"><input type="checkbox" name="adList[]" id="checkall" data-checked-id=""></th>
										<th>序号</th>
										<th>宣传活动</th>
										<th>分类</th>										
										<th>状态</th>
										<th>审核</th>
										<th>开始时间</th>
										<th>预算</th>
										<th>结余</th>
										<th>花费</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
								<!--{foreach from=$adList item=adl_item  key=key}-->
									<tr>
										<td><input type="checkbox" name="adList[]" id="adList-<!--{$adl_item.ad_id}-->" data-ad-id="<!--{$adl_item.ad_id}-->"></td>
										<td><!--{$key+1}--></td>
										<td><!--{$adl_item.name}--></td>
										<td><!--{$adl_item.str_classify}--></td>										
										<td><!--{$adl_item.str_status}--></td>
										<td><!--{$adl_item.str_checked}--></td>	
										<td><!--{$adl_item.start_time}--></td>
										<td>￥<!--{$adl_item.budget_format}-->(<!--{if $adl_item.budget_sort==1}-->总<!--{else}-->每日<!--{/if}-->)</td>
										<td>￥<!--{$adl_item.surplus_format}--></td>
										<td>￥<!--{$adl_item.cost_money_format}--></td>
										<td>
											<a href="<!--{mk_url('ads/adadmin/detailad')}-->?ad_id=<!--{$adl_item.ad_id}-->" target="_blank">查看</a>&nbsp;&nbsp;
											<a href="javascript:;" class="stop-ad" data-ad-id="<!--{$adl_item.ad_id}-->" data-status="<!--{if $adl_item.sort==3}-->runing<!--{elseif $adl_item.sort==1}-->stopped<!--{/if}-->"><!--{if $adl_item.sort==3}-->暂停<!--{elseif $adl_item.sort==1}-->开启<!--{/if}--></a>&nbsp;&nbsp;
											<a href="javascript:;" class="del-ad" data-ad-id="<!--{$adl_item.ad_id}-->">删除</a>
										</td>
									</tr>
								<!--{/foreach}-->									
								</tbody>
								<tfoot>
									<tr>
										<td colspan="10"></td>
										<td class="clearfix tar">
											<span class="btnBlue" id="del-checked">删除</span>&nbsp;&nbsp;
											<span class="btnGray" id="stop-checked">暂停</span>&nbsp;&nbsp;
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					<div class="page-nav">
		            <!--{if isset($page_links) && $page_links}-->
		            <!--{$page_links}-->
		            <!--{/if}-->
					</div>						
					</div>
											
				  </div>
	          
	          <!-- end:广告列表 --> 
       		 </div>
		</div>
		<!-- - - - - modlueBody结束 - - - - -->
	</div>
</div>
<!--{/block}-->

<!--{block name='footer_js'}-->
<script src="<!--{$smarty.const.MISC_ROOT}-->js/pro/createPro.js?v=<!--{$smarty.const.JS_VER}-->" type="text/javascript"></script>
<!--{/block}-->