<div class="mediaSection house postcont">
    <div class="mediaItemContent">
        <div class="mediaItem">
            <div class="houseUppic" title="点击上传图片">
                <span>点击上传图片</span>
            </div>
            <div class="mediaItemBox inputField">
                <label class="label Title" for="houseTitle">请输入标题。</label>
                <input id="houseTitle" class="text" type="text" validata-type="isNumber" value="">
            </div>

            <div class="mediaItemBox inputField inputPlace">
                <label class="label Title" for="houseTitle">请选择所在省</label>
                <input id="houseTitle" class="text" type="text" validata-type="isNumber" value="">
            </div>

            <div class="mediaItemBox inputField inputPlace">
                <label class="label Title" for="houseTitle">请选择所在市</label>
                <input id="houseTitle" class="text" type="text" validata-type="isNumber" value="">
            </div>

            <div class="mediaItemBox inputField inputPlace">
                <label class="label Title" for="houseTitle">请选择所在区</label>
                <input id="houseTitle" class="text" type="text" validata-type="isNumber" value="">
            </div>

            <div class="mediaItemBox inputField inputPlace">
                <label class="label Title" for="houseTitle">街道/小区</label>
                <input id="houseTitle" class="text" type="text" validata-type="isNumber" value="">
            </div>

            <div class="mediaItemBox inputField houseContact">
                <label class="label contact" for="houseTitle">请输入联系方式。</label>
                <input id="houseContact" class="text" type="text" validata-type="isNumber" value="">
            </div>
            <div class="mediaItemBox inputField houseContact">
                <label class="label price" for="houseTitle">租金/月</label>
                <input id="houseRMB" class="text" type="text" validata-type="isNumber" value="">
                <span class="rmb">RMB</span>
            </div>
            <div class="mediaItemBox addHouse">
                <a class="addHouseButton" href="javascript:;">我要填写完成信息</a>
            </div>
        </div>
    </div>
</div>
