<div id="timelineContent">
	<ol id="timelineTree" class="timelineTree clearfix">
		<div class="timelinebody">
		 <!--{if $is_self}-->

		
		
			<li id="defaultTimeBox1" name="timeBox" class="sideLeft clearfix defaultTimeBox" timeArea="">
	           
	            <i class="spinePointer"></i>
				<div class="timelineBox">
	                <!--{include file="timeline/postBox.html"}-->
	            </div>
	          
			</li>
		
		<!--

		<li class="sideRight">
			<div class="timelineBox">
				<div class="editControl hide" style="display: none;"><span class="conWrap midLine"><a title="调整大小"><i class="conResize"></i></a></span><span class="conWrap"><a title="编辑或删除"><i class="conEdit"></i></a>
					<ul class="uiMenuInner hide">
						<li><i></i>删除帖子</li>
						<li><i></i>改换日期</li>
					</ul>
					</span>
				</div>
				
				<div class="infoContent">特殊模块<br />
					<br />
					<br />
					<br />
				</div>
			</div>
		</li>
		-->
		 <!--{/if}-->
		 </div>
		 <li id="defaultTimeBox2" name="timeBox" class="twoColumn clearfix defaultTimeBox" timeArea="">
           
            <i class="spinePointer"></i>
			<div class="timelineBox" style="padding:20px;">
            	<div class="lifeContent"><div class="lifeHeader"><a id="scrollToTop"><i class="lifeIcon_4"></i><div class="toTopText">返回顶部</div></a></div></div>
            </div>
          
		</li>


		<span id="timelineCursor"></span>
	</ol>
	<div id="timeline_recent_more"></div>
</div>
