<!--{extends file='base_layout.html'}-->
<!--{block name='title' prepend}-->
电影频道-
<!--{/block}-->
<!--{block name='header_js'}-->
<link href="<!--{$smarty.const.MISC_ROOT}-->css/interest/interest.css" rel="stylesheet" type="text/css" />
<link href="<!--{$smarty.const.MISC_ROOT}-->css/interest/theatre.css" rel="stylesheet" type="text/css" />
<!--{/block}-->
<!--{block name='body'}-->
<div class="body clearfix">
	<div id="interest_box" class="mainArea">
		<div class="modlueHeader clearfix">
			<span class="userImg"><a href="<!--{mk_url('main/index/main')}-->"><img  src="<!--{get_avatar($uid,'ss')}-->" alt="<!--{$user.username}-->" /></a></span>
			<div class="userName">
				<span class="nameTxt"><a href="<!--{mk_url('main/index/main')}-->"><!--{$user.username}--></a></span>
				<span class="nameTxt"><span class="fl">电影</span></span>
			</div>
		</div>
	<!--{include file="interest_area.html"}-->
	
      <div id="theatre_classify">
          <!--{include file="movies/main_list.html"}-->
      </div>
		</div>
</div>
<!--{/block}-->
<!--{block name='footer_js'}-->
<script src="<!--{$smarty.const.MISC_ROOT}-->js/interest/interest.js?v=<!--{$js_css_v}-->" type="text/javascript"></script>
<script type="text/javascript" src="<!--{$smarty.const.MISC_ROOT}-->js/interest/theatre.js"></script>
<!--{/block}-->
