<div class="interestMenu clearfix">
		<ul class="">
        				<li set="1" class="photo">
            						<a href="/www_duankou/interest/index/alist">
                					<span class="tab">
						<div class="imgLink shopping" style="background-position:8px 0px">

						</div>
						<span class="interestMenuShow">						
								购物
						</span>
					</span>
				</a>
			</li>
            			<li class="photo">
            	                	<a href="/www_duankou/interest/index/alist?imid=9">
                					<span class="tab">
						<div class="imgLink traveling" style="background-position:8px -194px">

						</div>
						<span class="interestMenuShow">						
								旅游景点
						</span>
					</span>
				</a>
			</li>
            			<li class="photo">
            	                	<a href="/www_duankou/interest/index/alist?imid=10">
                					<span class="tab">
						<div class="imgLink " style="background-position:8px -324px">

						</div>
						<span class="interestMenuShow">						
								电影
						</span>
					</span>
				</a>
			</li>
            			<li class="photo">
            	                	<a href="/www_duankou/interest/index/alist?imid=11">
                					<span class="tab">
						<div class="imgLink " style="">

						</div>
						<span class="interestMenuShow">						
								摄影
						</span>
					</span>
				</a>
			</li>
            			<li class="photo">
            	                	<a href="/www_duankou/interest/index/alist?imid=12">
                					<span class="tab">
						<div class="imgLink " style="">

						</div>
						<span class="interestMenuShow">						
								游戏
						</span>
					</span>
				</a>
			</li>
            			<li class="photo">
            	                	<a href="/www_duankou/interest/index/alist?imid=13">
                					<span class="tab">
						<div class="imgLink " style="">

						</div>
						<span class="interestMenuShow">						
								酒店
						</span>
					</span>
				</a>
			</li>
            			<li class="photo">
            	                	<a href="/www_duankou/interest/index/alist?imid=19">
                					<span class="tab">
						<div class="imgLink " style="">

						</div>
						<span class="interestMenuShow">						
								下载
						</span>
					</span>
				</a>
			</li>
		</ul>
		<div class="rightMenu">
			<div class="linkButton">
				<a href="#" id="">
					<span class="linkButtonspan">
						<span class="text">-1</span>
					</span>
				</a>
			</div>
		</div>
	</div>