<div class="bodyer_theatre_nopadding">
	<div class="headStyle_theatre">
		<div class="fl hot-web-hd">相关影院专页（20）</div>
		<div class="fr hot-web-hd"><a href="<!--{mk_url('webmain/create/found')}-->?imid=10">创建网页</a></div>
	</div>
	<div class="pageList_theatre">
		<dl class="element_list">
			<dt class="img"><a href=""><img width="99" height="99" src="http://avatar.duankou.dev/webavatar_1609_mm.jpg?v=1343887581" alt=""/></a></dt>
			<dd class="summary">
				<h3><a href="">翠苑电影院</a></h3>
				<p>地址：杭州市万塘路322号。</p>
				<p class="po">关注：25&nbsp;&nbsp;&nbsp;粉丝：36  </p>
			</dd>
			<dd class="btnAttention">
				<div class="relation relationWraps">
					<div webid="1358" uid="1000002960" days="90" dtype="d" rel="2" class="statusBox"></div>
				</div>
			</dd>
		</dl>
		<dl class="element_list">
			<dt class="img"><a href=""><img width="99" height="99" src="http://avatar.duankou.dev/webavatar_1609_mm.jpg?v=1343887581" alt=""/></a></dt>
			<dd class="summary">
				<h3><a href="">翠苑电影院</a></h3>
				<p>地址：杭州市万塘路322号。</p>
				<p class="po">关注：25&nbsp;&nbsp;&nbsp;粉丝：36  </p>
			</dd>
			<dd class="btnAttention">
				<div class="relation relationWraps">
					<div webid="1358" uid="1000002960" days="90" dtype="d" rel="2" class="statusBox"></div>
				</div>
			</dd>
		</dl>
		<dl class="element_list">
			<dt class="img"><a href=""><img width="99" height="99" src="http://avatar.duankou.dev/webavatar_1609_mm.jpg?v=1343887581" alt=""/></a></dt>
			<dd class="summary">
				<h3><a href="">翠苑电影院</a></h3>
				<p>地址：杭州市万塘路322号。</p>
				<p class="po">关注：25&nbsp;&nbsp;&nbsp;粉丝：36  </p>
			</dd>
			<dd class="btnAttention">
				<div class="relation relationWraps">
					<div webid="1358" uid="1000002960" days="90" dtype="d" rel="2" class="statusBox"></div>
				</div>
			</dd>
		</dl>
	</div>
</div>
