<div class="theatre_class">
	<h6 class="head"><a href="">&nbsp;&nbsp;电影院分类：</a></h6>
	<dl class="theatre_top_list">
            <dt><a href="#">西湖区：</a></dt>
            <dd><a class="hover" href="#">全部</a>
            <a href="#">翠苑电影大世界</a>
            <a href="#">杭州UME国际影城</a>
            <a href="#">新远国际影城</a></dd>
      </dl>
      <dl class="theatre_top_list">
            <dt><a href="#">上城区：</a></dt>
            <dd><a class="hover" href="#">全部</a>
            <a href="#">近江电影大世界</a>
            </dd>
      </dl>
      <dl class="theatre_top_list">
            <dt><a href="#">下城区：</a></dt>
            <dd><a class="hover" href="#">全部</a>
            <a href="#">奥斯卡电影大世界</a>
            <a href="#">众安电影大世界</a>
            </dd>
      </dl>
      <dl class="theatre_top_list">
            <dt><a href="#">滨江区：</a></dt>
            <dd><a class="hover" href="#">全部</a>
            <a href="#">中影国际影城杭州星光大道店</a>
            </dd>
      </dl>
      <dl class="theatre_top_list">
            <dt><a href="#">江干区：</a></dt>
            <dd><a class="hover" href="#">全部</a>
            <a href="#">庆春电影大世界</a>
            <a href="#">杭州百老汇影城</a>
            <a href="#">杭州华元电影大世界</a></dd>
      </dl>
      <dl class="theatre_top_list">
            <dt><a href="#">萧山区：</a></dt>
            <dd><a class="hover" href="#">全部</a>
            <a href="#">恒隆电影大世界</a></dd>
      </dl>
</div>   
