<div id="bodyer_theatre">
	<div class="recom_theatre clearfix">
		<span class="img fl"><img width="200" height="260" src="img/tmp001.jpg" alt=""/></span>
		<div class="summary ">
			<h1><span class="city">【杭州】</span>绝色武器</h1>
			<div class="introduce">
				<p><span>导演：</span>盛志明</p>
				<p><span>主演：</span>秦昊 佟大为&nbsp;杜海涛&nbsp;乔任梁&nbsp;张钧涵&nbsp;甘薇&nbsp;王景春&nbsp;柳岩&nbsp;宋宁&nbsp;</p>
				<p><span>地区：</span>中国</p>
				<p><span>类型：</span>剧情，悬疑</p>
				<p><span>语言：</span>国语</p>
				<p><span>片长：</span>102分钟</p>
				<p><span>上映：</span>2012年7月13日</p>
				<p><span>片长：</span>盛志明</p>
			</div>
			<a href="" class="uiButton btnTickets">立即购票</a>
		</div>
	</div>
	<div class="inforModelBox">
		<h6 class="head">剧情介绍</h6>
		<div class="cont"><p>《十二星座离奇事件》的故事将围绕一本星座小说展开，小说中的任务因为各自星座的致命弱点而离奇地——死去。他透漏，创作这部电影的初衷也是源
于自己对于星座的浓厚兴趣，并自爆是个绝对的“星座控”。当初选演员，很大程度上我也参考了演员本身的星座，包括演员身上这个星座的特质是否明
显。</p>
		</div>
	</div>
	<div class="inforModelBox">
		<h6 class="head">本影片所有场次</h6>
		<div class="cont">
			<ul class="schedules">
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
				<li><span class="time">10:00</span><em class="price">￥30</em></li>
			</ul>
		</div>
	</div>
	<div class="inforModelBox">
		<h6 class="head">观看此影片的会员还关注？</h6>
		<div class="cont">
			<ul class="mixedList clearfix">
				<li><a class="img" href=""><img width="75" height="100" src="img/tmp002.jpg" alt=""/></a>
					<div class="summary">
						<h1><a class="t" href="" target="_blank">搜索</a></h1>
						<p class="para">121分钟—剧情121分钟—剧情121分钟—剧情</p>
						<a class="uiButton" href="" target="_blank">去看看</a>
					</div>
				</li>
				<li><a class="img" href=""><img width="75" height="100" src="img/tmp002.jpg" alt=""/></a>
					<div class="summary">
						<h1><a class="t" href="" target="_blank">搜索</a></h1>
						<p class="para">121分钟—剧情121分钟—剧情121分钟—剧情</p>
						<a class="uiButton" href="" target="_blank">去看看</a>
					</div>
				</li>
				<li><a class="img" href=""><img width="75" height="100" src="img/tmp002.jpg" alt=""/></a>
					<div class="summary">
						<h1><a class="t" href="" target="_blank">搜索</a></h1>
						<p class="para">121分钟—剧情121分钟—剧情121分钟—剧情</p>
						<a class="uiButton" href="" target="_blank">去看看</a>
					</div>
				</li>
				<li><a class="img" href=""><img width="75" height="100" src="img/tmp002.jpg" alt=""/></a>
					<div class="summary">
						<h1><a class="t" href="" target="_blank">搜索</a></h1>
						<p class="para">121分钟—剧情121分钟—剧情121分钟—剧情</p>
						<a class="uiButton" href="" target="_blank">去看看</a>
					</div>
				</li>
			</ul>
			<p class="textr"><a href="">杭州21部影片正在热映 >></a></p>
		</div>
	</div>
</div>