<!--{extends file='default.html'}-->

<!--{block name='header_css' append}-->
<link href="<!--{$smarty.const.MISC_ROOT}-->css/group/groupall.css" rel="stylesheet" type="text/css" />
<!--{/block}-->

<!--{block name='group_title'}-->管理群组应用<!--{/block}-->



<!--{block name='right'}-->
<div class="group_info">
	<div class="group_info_title">
		<h1>群组邀请</h1>
	</div>
	<div class="group_info_list clearfix">
		<ul class="group_info_ul">
			<li class="group_info_li clearfix">
				<div class="group_info_li_left">
					<a href="#" class="head"><img src="http://avatar.duankou.dev/avatar_1000002941_s.jpg?v=1343370447" /></a>
					<div class="group_info_intro">
						<p class="intro"><a href="#">杨海洋</a> 邀请你加入群 <a href="#">三年级二班同学会</a></p>
						<p class="time">昨天 14:25</p>
					</div>
				</div>
				<div class="group_info_li_right">
					<span class="btnBlue"><a>接受</a></span><span class="btnGray"><a href="javascript:void(0);">取消</a></span>
				</div>
			</li>
			<li class="group_info_li clearfix">
				<div class="group_info_li_left">
					<a href="#" class="head"><img src="http://avatar.duankou.dev/avatar_1000002941_s.jpg?v=1343370447" /></a>
					<div class="group_info_intro">
						<p class="intro"><a href="#">杨海洋</a> 邀请你加入群 <a href="#">三年级二班同学会</a></p>
						<p class="time">昨天 14:25</p>
					</div>
				</div>
				<div class="group_info_li_right">
					<span class="btnBlue"><a>接受</a></span><span class="btnGray"><a href="javascript:void(0);">取消</a></span>
				</div>
			</li>
			<li class="group_info_li clearfix">
				<div class="group_info_li_left">
					<a href="#" class="head"><img src="http://avatar.duankou.dev/avatar_1000002941_s.jpg?v=1343370447" /></a>
					<div class="group_info_intro">
						<p class="intro"><a href="#">杨海洋</a> 邀请你加入群 <a href="#">三年级二班同学会</a></p>
						<p class="time">昨天 14:25</p>
					</div>
				</div>
				<div class="group_info_li_right">
					<span class="btnBlue"><a>接受</a></span><span class="btnGray"><a href="javascript:void(0);">取消</a></span>
				</div>
			</li>
			<li class="group_info_li clearfix">
				<div class="group_info_li_left">
					<a href="#" class="head"><img src="http://avatar.duankou.dev/avatar_1000002941_s.jpg?v=1343370447" /></a>
					<div class="group_info_intro">
						<p class="intro"><a href="#">杨海洋</a> 邀请你加入群 <a href="#">三年级二班同学会</a></p>
						<p class="time">昨天 14:25</p>
					</div>
				</div>
				<div class="group_info_li_right">
					<span class="btnBlue"><a>接受</a></span><span class="btnGray"><a href="javascript:void(0);">取消</a></span>
				</div>
			</li>
			<li class="group_info_li clearfix">
				<div class="group_info_li_left">
					<a href="#" class="head"><img src="http://avatar.duankou.dev/avatar_1000002941_s.jpg?v=1343370447" /></a>
					<div class="group_info_intro">
						<p class="intro"><a href="#">杨海洋</a> 邀请你加入群 <a href="#">三年级二班同学会</a></p>
						<p class="time">昨天 14:25</p>
					</div>
				</div>
				<div class="group_info_li_right">
					<span class="btnBlue"><a>接受</a></span><span class="btnGray"><a href="javascript:void(0);">取消</a></span>
				</div>
			</li>
			<li class="group_info_li clearfix">
				<div class="group_info_li_left">
					<a href="#" class="head"><img src="http://avatar.duankou.dev/avatar_1000002941_s.jpg?v=1343370447" /></a>
					<div class="group_info_intro">
						<p class="intro"><a href="#">杨海洋</a> 邀请你加入群 <a href="#">三年级二班同学会</a></p>
						<p class="time">昨天 14:25</p>
					</div>
				</div>
				<div class="group_info_li_right">
					<span class="btnBlue"><a>接受</a></span><span class="btnGray"<a href="javascript:void(0);">取消</a></span>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--{/block}-->



<!--{block name='footer_js' append}-->
<!--{/block}-->