<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>招聘首页</title>
<link href="http://lishijun.duankou.com/www_duankou/frontendcore/misc/css/common/base.css" rel="stylesheet" type="text/css" />
<link href="http://lishijun.duankou.com/www_duankou/frontendcore/misc/css/plug-css/popUp/popUp.css" rel="stylesheet" type="text/css" />
<link href="http://lishijun.duankou.com/www_duankou/frontendcore/misc/css/job/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start: 头部-->
<div id="header">
    <div class="header">
        <div class="topBar clearfix">
            <!-- start: LOGO-->
            <div class="nav_box clearfix">
                <h1 id="logo"><a href="/www_duankou/main/index/main" title="首页">duankou</a></h1>
            </div>
            <!-- end: LOGO-->
        </div>
    </div>
</div>
<!-- end: 头部-->

<!-- start: 内容区-->
<div class="body clearfix">
    <!-- start: mainArea-->
    <div class="mainArea">

        <!-- start: contentCol-->
        <div id="contentCol" class="clearfix">
            <!-- start: 菜单切换-->
            <div class="tagMenu">
                <div class="tipIco"></div>
                <div class="item">
                    <h2 class="clearfix"><a href="index.html"><i style="background:none;"></i><strong>招聘首页</strong><em></em></a></h2>
                </div>
                <!--高亮一级分类 item添加current类-->
                <div class="item current">
                    <h2 class="clearfix"><i></i><strong>端口简介</strong><em></em></h2>
                    <ul>
                        <!--高亮二级分类 li添加subCurrent类-->
                        <li><a href="http://www.duankou.dev/about/index">了解端口网</a></li>
                        <li><a href="#">端口团队</a></li>
                        <li class="subCurrent"><a href="growth.html">成长机制</a></li>
                        <li><a href="welfare.html">薪酬和福利</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h2 class="clearfix"><i></i><strong>社会招聘</strong><em></em></h2>
                    <ul>
                        <li><a href="technology.html">技术类职位</a></li>
                        <li><a href="#">产品运营类职位</a></li>
                        <li><a href="#">市场公关类</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h2 class="clearfix"><i></i><strong>发送简历</strong><em></em></h2>
                    <ul>
                        <li><a href="resume.html">在线发送简历</a></li>
                        <li><a href="resumeWrite.html">在线填写简历</a></li>
                </div>
                <div class="item">
                    <h2 class="clearfix"><a href="http://lishijun.duankou.com/www_duankou/main/about/index?aid=1"><i style="background:none;"></i><strong>联系我们</strong><em></em></a></h2>
                </div>
            </div>
            <!-- end: 菜单切换-->

            <!-- start: 具体内容-->
            <div class="specContent">
                <h2><span>端口简介</span> > 成长机制</h2>
                <div class="detail txtDetail">
                    <h3>成长机制</h3>
                    <h4>用人理念</h4>
                    <p>没有完美的个人，只有完美的团队。端口网认为，员工的综合素质和潜力更为重要。</p>
                    <p>我们希望你：<br />
                    · 恪守诚信，勇于担当；<br />
                    · 具有蓬勃向上的心态，乐意分享；<br />
                    · 具备快速的学习能力、分析和解决问题能力；<br />
                    · 具有团队合作精神；<br />
                    · 富有激情、创造力，能够不拘泥于常规。
                    </p>
                   
                    <h4>组长指导制度</h4>
                    <p>端口网的团队是以小组性质存在，新员工将按部门小组划分不同的组长，组长将帮助新员工尽快适应端口网，为其答疑解惑，在工作生活等方面进行帮助和指导，包括对公司周围居住环境的介绍，帮助他们克服刚上手工作时可能出现的困难，以及帮助他们在工作中不断提升专业技能和灵活运用专业知识的能力。</p>
                    <h4>培训制度</h4>
                    <p>公司倡导“平等、简单和信任“的企业文化，并为员工营造了一个良好的学习和成长环境。</p>
                    <p>我们认为“分享是快乐之源，是成长”，我们的培训机制源于公司内部员工对专页知识、工作技能的分享，只要你有一技之长就可以成为培训别人的培训导师。而且，我们将会根据组织分享讨论会及参加培训的次数，作为升职、加薪的考核标准。</p>
                    <p>另外，为了帮助新员工尽快融入公司环境，端口网人力资源部还为新人提供了生动实用的新人入职培训课程。</p>
                </div>
            </div>
            <!-- end: 具体内容-->



        </div>
        <!-- end: contentCol --> 

    </div>
    <!-- end: mainArea-->

    <div class="sideArea"></div>

</div>
<!--End 内容区-->

<!--Start 底部-->
<div id="footer" class="clearfix">
    <span class="copyRight">Duankou &copy; 2011 · <a href="#">中文(简体)</a></span>
    <span class="footerLinks"><a href="/about/index">关于</a>·<a href="http://open.duankou.dev">开放平台</a>·<a href="/www_duankou/feedback/main/index">用户反馈</a>·<a href="#">手机</a>·<a href="/www_duankou/ads/ad/index">广告</a>·<a href="#">招聘</a>·<a href="#">隐私政策</a>·<a href="/www_duankou/main/help/index" target="_blank">帮助中心</a>·<a href="http://115.238.237.226:5705/" target="_blank">流量统计</a></span>
</div>
<!--End 底部-->


<script src=" http://lishijun.duankou.com/www_duankou/frontendcore/misc/js/jquery.min.js"></script>
<script src=" http://lishijun.duankou.com/www_duankou/frontendcore/misc/js/job/index.js"></script>
</body>
</html>
