<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>招聘首页</title>
<link href="http://lishijun.duankou.com/www_duankou/frontendcore/misc/css/common/base.css" rel="stylesheet" type="text/css" />
<link href="http://lishijun.duankou.com/www_duankou/frontendcore/misc/css/plug-css/popUp/popUp.css" rel="stylesheet" type="text/css" />
<link href="http://lishijun.duankou.com/www_duankou/frontendcore/misc/css/job/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start: 头部-->
<div id="header">
    <div class="header">
        <div class="topBar clearfix">
            <!-- start: LOGO-->
            <div class="nav_box clearfix">
                <h1 id="logo"><a href="/www_duankou/main/index/main" title="首页">duankou</a></h1>
            </div>
            <!-- end: LOGO-->
        </div>
    </div>
</div>
<!-- end: 头部-->

<!-- start: 内容区-->
<div class="body clearfix">
    <!-- start: mainArea-->
    <div class="mainArea">

        <!-- start: contentCol-->
        <div id="contentCol" class="clearfix">
            <!-- start: 菜单切换-->
            <div class="tagMenu">
                <div class="tipIco"></div>
                <div class="item current">
                    <h2 class="clearfix"><a href="index.html"><i style="background:none;"></i><strong>招聘首页</strong><em></em></a></h2>
                </div>
                <!--高亮一级分类 item添加current类-->
                <div class="item">
                    <h2 class="clearfix"><i></i><strong>端口简介</strong><em></em></h2>
                    <ul>
                        <!--高亮二级分类 li添加subCurrent类-->
                        <li><a href="http://www.duankou.dev/about/index">了解端口网</a></li>
                        <li><a href="#">端口团队</a></li>
                        <li><a href="growth.html">成长机制</a></li>
                        <li><a href="welfare.html">薪酬和福利</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h2 class="clearfix"><i></i><strong>社会招聘</strong><em></em></h2>
                    <ul>
                        <li><a href="technology.html">技术类职位</a></li>
                        <li><a href="#">产品运营类职位</a></li>
                        <li><a href="#">市场公关类</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h2 class="clearfix"><i></i><strong>发送简历</strong><em></em></h2>
                    <ul>
                        <li><a href="resume.html">在线发送简历</a></li>
                        <li><a href="resumeWrite.html">在线填写简历</a></li>
                </div>
                <div class="item">
                    <h2 class="clearfix"><a href="http://lishijun.duankou.com/www_duankou/main/about/index?aid=1"><i style="background:none;"></i><strong>联系我们</strong><em></em></a></h2>
                </div>
            </div>
            <!-- end: 菜单切换-->

            <!-- start: 具体内容-->
            <div class="specContent">
                <h2>招聘首页</h2>
                <div class="detail txtDetail">
                    <h3>端口网，你的梦想之地</h3>
                    <p>端口网是杭州也要买电子商务公司自助研制开发的社交类网站，秉承“打造自由、严谨的网络平台”的理念，以打造中国版的Facebook为目标，实现中国网络用户对社交、资讯、娱乐、商业等多方面的需求。</p>
                    <p>如果你是一个资深网虫，如果你对互联网有很深的了解，如果你有着很棒的创意和能力，如果你对自己的未来抱有很大的期待，那么，无论你是怀才不遇还是初出茅庐，无论你是屌丝还是高帅富，相信我，这里都将是你的梦想实现之地。</p>
                    <p>在这里，你找不到官僚主义，只要你能够完成任务就没人管；</p>
                    <p>在这里，每个人都能尽情发挥自己的才华，只要用户不找你麻烦，不会有任何人对你指手画脚；你可以提出任何想法，只要有尝试的价值，都会得到支持。</p>
                    <p>在这里，可以享受到优厚的薪资和福利，双休、下午茶、高薪资、高津贴等等都不是问题；</p>
                    <p>在这里，崇尚技术至上，这里是技术员的天下，不怕你有脾气，就怕你没能力。在这里，梦想是最大的推动力，不怕你没能力，就怕你没成长的动力。</p>
                    <p>在这里，每个人都有自主权、发言权和决策权，我们崇尚自由，向往快乐，为了同一个梦想而努力。我们打造的是属于每一个员工的产品，我们热爱自己的端口网。</p>
                    <p>端口网欢迎你的加入。</p>

                    <p><b>联系方式：yeyaomaidzsw@163.com</b></p>
                </div>
            </div>
            <!-- end: 具体内容-->



        </div>
        <!-- end: contentCol --> 

    </div>
    <!-- end: mainArea-->

    <div class="sideArea"></div>

</div>
<!--End 内容区-->

<!--Start 底部-->
<div id="footer" class="clearfix">
    <span class="copyRight">Duankou &copy; 2011 · <a href="#">中文(简体)</a></span>
    <span class="footerLinks"><a href="/about/index">关于</a>·<a href="http://open.duankou.dev">开放平台</a>·<a href="/www_duankou/feedback/main/index">用户反馈</a>·<a href="#">手机</a>·<a href="/www_duankou/ads/ad/index">广告</a>·<a href="#">招聘</a>·<a href="#">隐私政策</a>·<a href="/www_duankou/main/help/index" target="_blank">帮助中心</a>·<a href="http://115.238.237.226:5705/" target="_blank">流量统计</a></span>
</div>
<!--End 底部-->


<script src=" http://lishijun.duankou.com/www_duankou/frontendcore/misc/js/jquery.min.js"></script>
<script src=" http://lishijun.duankou.com/www_duankou/frontendcore/misc/js/job/index.js"></script>
</body>
</html>
