<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发送简历</title>
<link href="<!--{$smarty.const.MISC_ROOT}-->css/common/base.css" rel="stylesheet" type="text/css" />
<link href="<!--{$smarty.const.MISC_ROOT}-->css/plug-css/popUp/popUp.css" rel="stylesheet" type="text/css" />
<link href="<!--{$smarty.const.MISC_ROOT}-->css/job/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start: 头部-->
<div id="header">
    <div class="header">
        <div class="topBar clearfix">
            <!-- start: LOGO-->
            <div class="nav_box clearfix">
                <h1 id="logo"><a href="/www_duankou/main/index/main" title="首页">duankou</a></h1>
            </div>
            <!-- end: LOGO-->
        </div>
    </div>
</div>
<!-- end: 头部-->

<!-- start: 内容区-->
<div class="body clearfix">
    <!-- start: mainArea-->
    <div class="mainArea">

        <!-- start: contentCol-->
        <div id="contentCol" class="clearfix">
            <!-- start: 菜单切换-->
            <div class="tagMenu">
                <div class="tipIco"></div>
                <div class="item">
                    <h2 class="clearfix"><a href="index.html"><i style="background:none;"></i><strong>招聘首页</strong><em></em></a></h2>
                </div>
                <!--高亮一级分类 item添加current类-->
                <div class="item">
                    <h2 class="clearfix"><i></i><strong>端口简介</strong><em></em></h2>
                    <ul>
                        <!--高亮二级分类 li添加subCurrent类-->
                        <li><a href="#">了解端口网</a></li>
                        <li><a href="#">端口团队</a></li>
                        <li><a href="#">成长机制</a></li>
                        <li><a href="#">薪酬和福利</a></li>
                    </ul>
                </div>
                <div class="item">
                    <h2 class="clearfix"><i></i><strong>社会招聘</strong><em></em></h2>
                    <ul>
                        <li><a href="#">技术类职位</a></li>
                        <li><a href="#">产品运营类职位</a></li>
                        <li><a href="#">市场公关类</a></li>
                    </ul>
                </div>
                <div class="item current">
                    <h2 class="clearfix"><i></i><strong>发送简历</strong><em></em></h2>
                    <ul>
                        <li><a href="show_doc">在线发送简历</a></li>
                        <li class="subCurrent"><a href="resumeWrite.html">在线填写简历</a></li>
                </div>
                <div class="item">
                    <h2 class="clearfix"><i></i><strong>联系我们</strong><em></em></h2>
                </div>
            </div>
            <!-- end: 菜单切换-->

            <!-- start: 具体内容-->
            <div class="specContent resume resumeWirte">
                <h2><span>发送简历</span> > 在线填写简历</h2>
                <div class="detail">
                    <ul class="tab clearfix">
                        <li><a href="./info">个人信息</a></li>
                        <li><a href="resumeWrite_edu.html">教育情况</a></li>
                        <li class="selected"><a href="resumeWrite_work.html">工作经历</a></li>
                        <li><a href="resumeWrite_train.html">培训经历</a></li>
                        <li><a href="resumeWrite_skill.html">技能</a></li>
                    </ul>

                    <!-- start: 工作经历-->

                    <div class="tagDetail">
                        <form action="./insert_work" method="post" enctype="multipart/form-data">
                            <table>
                                <tbody>
                                    <tr><td>工作单位：</td><td class="schoolTd"><input type="text" name="workAddress" value="" class="nameInput" /></td></tr>
                                    <tr><td>职位：</td><td class="schoolTd"><input type="text" name="workPost" value="" class="nameInput" /></td></tr>
                                    <tr>
                                        <td>工作时间：</td>
                                        <td class="selectTd" style="width:600px;">
                                            <select name="workStartYear">
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                            </select>
                                            年&nbsp;&nbsp;
                                            <select name="workStartMonth">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            月
                                            &nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;
                                            <select name="workEndYear">
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                                <option value="1990">1990</option>
                                            </select>
                                            年&nbsp;&nbsp;
                                            <select name="workEndMonth">
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            月
                                        </td>
                                    </tr>
                                    
                                    <tr><td colspan="2" style="width:200px;">主要工作内容及工作业绩：</td></tr>
                                    <tr><td colspan="2" class="selfEvalTd"><textarea name="workContent"></textarea></td></tr>
                                    <tr><td colspan="2" class="addBtn"><span class="btnBlue"><a href="#">新增工作经历</a></span></td></tr>
                                   
                                </tbody>
                            </table>
                            <span class="btnBlue"><input type="submit" value="保存" /></span>
                            <span class="btnGray"><a href="#">跳过</a></span>
                        </form>
                    </div>

                    <!-- end: 工作经历-->


                </div>
            </div>
            <!-- end: 具体内容-->



        </div>
        <!-- end: contentCol --> 

    </div>
    <!-- end: mainArea-->

    <div class="sideArea"></div>

</div>
<!--End 内容区-->

<!--Start 底部-->
<div id="footer" class="clearfix">
    <span class="copyRight">Duankou &copy; 2011 · <a href="#">中文(简体)</a></span>
    <span class="footerLinks"><a href="/about/index">关于</a>·<a href="http://open.duankou.dev">开放平台</a>·<a href="/www_duankou/feedback/main/index">用户反馈</a>·<a href="#">手机</a>·<a href="/www_duankou/ads/ad/index">广告</a>·<a href="#">招聘</a>·<a href="#">隐私政策</a>·<a href="/www_duankou/main/help/index" target="_blank">帮助中心</a>·<a href="http://115.238.237.226:5705/" target="_blank">流量统计</a></span>
</div>
<!--End 底部-->


<script src=" <!--{$smarty.const.MISC_ROOT}-->js/jquery.min.js"></script>
<script src=" <!--{$smarty.const.MISC_ROOT}-->js/job/index.js"></script>
</body>
</html>
