<div class="dkUserwikiNice wikicontentWrap">
	<a class="dkSchImageBlock"><img src="<!--MISC_ROOT-->img/system/editPageIcon2.png"/></a>
		<div class="dkContentBlock fwb">
			<span name="company"></span>
		</div>
	<div class="uiContextualDialogDefaultPadding">
		<table class="uiInfoTableForm">
			<tbody>
				<tr class="dataRow">
					<th class="label"><em>*</em>工作时间：</th>
					<td class="data">
						<p class="mbs">
							<input type="checkbox" name="today" value="至今" val="至今" />
							<span>正在这里工作</span>
						</p>
						<p>
							<select class="set_year" name="time_y_s">
								<option value="-1">请选择</option>
							</select>
							<select class="set_month" name="time_m_s">
								<option value="-1">请选择</option>
							</select>
							<span>至</span>
							<span id="now" class="hideEle">今</span>
							<span id="select">
								<select class="set_year" name="time_y_e">
									<option value="-1">请选择</option>
								</select>
								<select class="set_month" name="time_m_e">
									<option value="-1">请选择</option>
								</select> </span>
						</p>
					</td>
				</tr>
			</tbody>
			<tbody>
				<tr class="dataRow">
					<th class="label"><em>*</em>公司行业：</th>
					<td class="data">
					<select name="industry">
						<option value="-1">请选择</option>
						<option value="1">IT信息技术</option>
						<option value="2">金融</option>
						<option value="4">互联网</option>
						<option value="5">广告传媒</option>
						<option value="6">贸易零售</option>
						<option value="7">交通物流</option>
						<option value="8">房地产</option>
						<option value="9">旅游餐饮</option>
						<option value="10">加工制造业</option>
						<option value="11">石化采掘</option>
						<option value="12">农林牧渔</option>
						<option value="13">社会服务</option>
						<option value="14">医药生物</option>
						<option value="15">教育培训科研</option>
					</select></td>
				</tr>
			</tbody>
			<tbody>
				<tr class="dataRow">
					<th class="label"><em>*</em>职位：</th>
					<td class="data">
					<input id="post" type="text" name="position" class="vinput"/>
					</td>
				</tr>
			</tbody>
			<tbody>
				<tr class="dataRow">
					<th class="label">同事名字：</th>
					<td class="data">
						<ul >
							<li>
								<input type="text" class="vinput" value="" uid="0" maxlength="10" name="colleague"/><span class="addTr allEite"><img src="<!--MISC_ROOT-->img/system/plus.gif" alt="" width="25" height="25" /></span>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="uiOverlayFooter uiContextuaDialogFooter topborder uiBoxGray">
		<table>
			<tbody>
				<tr>
					<td width="65%" class="uiOverlayFooterMessage"><span class="line_err_msg"></span></td>
					<td width="35%">
					<div class="btnGray fr">
						<a class="close" href="javascript:void(0);">取消</a>
					</div>
					<div class="btnBlue fr mrs">
						<a href="javascript:void(0);" class="btn_edit TrainExperInfoEdit">确定</a>
						<a href="javascript:void(0);" class="btn_save TrainExperInfoEdit" style="display: none">确定</a>
					</div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

