<div id="introInfoFormEdit" class="uiContextualDialogDefaultPadding wikicontentWrap">
	<table class="uiInfoTableForm">
		<tbody>
			<tr class="dataRow ">
				<td class="data nob"><textarea id="intro" name="introduction" maxlength="255"></textarea><div class="tip"></div></td>
				<td class="rightCol nob"></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="uiOverlayFooter uiContextuaDialogFooter topborder uiBoxGray">
	<table>
		<tbody>
			<tr tipmodel="dkUserwikiIntroInfo intro 530">
				<td class="uiOverlayFooterMessage"><span class="line_err_msg"></span></td>
				<td><div class="btnGray fr"><a class="closeTip" href="javascript:void(0)">取消</a></div><div class="btnBlue fr mrs"><a id="introInfoStore" href="javascript:void(0)">确定</a></div></td>
			</tr>
		</tbody>
	</table>
</div>